[2018-02-12 10:24] laurencei commented on #3324
I'm going to close this issue.

You are welcome to submit a PR for how to write a custom filesystem for Taylor to review if you like.

[2018-02-12 10:24] #3324 closed

[2018-02-12 10:25] laurencei commented on #3294
I'm going to close this issue.

The documentation is correct, the spawning of 8 workers is a valid choice and should work. If you are experiencing issues with simulatenous jobs running, that is another issue.

[2018-02-12 10:25] #3294 closed

[2018-02-12 10:27] laurencei commented on #3302
Hi @vladyslavstartsev,

I'm going to close this issue. You are welcome to submit a PR with extra documentation on the passport docs in the areas you believe it can be improved.

Thanks

[2018-02-12 10:27] #3302 closed

[2018-02-12 10:27] laurencei commented on #3349
Hi,

You are able to change the front end to say anything you like.

[2018-02-12 10:27] #3349 closed

[2018-02-12 10:29] laurencei commented on #2869
Closing as this issue has been fixed.

[2018-02-12 10:29] #2869 closed

[2018-02-12 10:32] laurencei commented on #2884
I think this is an edge case that probably would be confusing in the docs. If/when people run into this edge case, the Logic Exception provides a clear solution to the problem.

I'm going to close this ticket, but if you think you can write a PR for how we could add it to the docs without being overwhelming, you are welcome to do so.

Thanks.

[2018-02-12 10:32] #2884 closed

[2018-02-12 10:35] laurencei commented on #2858
I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 10:35] #2858 closed

[2018-02-12 10:36] laurencei commented on #2867
I'm going to close this issue.

The docs have been updated significantly since this was posted, and the Eloquent section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 10:36] #2867 closed

[2018-02-12 10:37] laurencei commented on #2855
I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written. The driver names are now also included in the `laravel/laravel` default config as well.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 10:37] #2855 closed

[2018-02-12 10:37] laurencei commented on #2854
I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 10:37] #2854 closed

[2018-02-12 10:39] #2715 closed

[2018-02-12 10:39] laurencei commented on #2715
Closing as this issue was discussed in the PR.

[2018-02-12 10:40] laurencei commented on #2720
I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 10:40] #2720 closed

[2018-02-12 10:41] #2729 closed

[2018-02-12 10:41] #2745 closed

[2018-02-12 10:41] #2773 closed

[2018-02-12 10:46] laurencei commented on #2830
Thanks @alexbowers,

I've submitted a PR for this, so closing the issue here.

[2018-02-12 10:46] #2830 closed

[2018-02-12 10:47] laurencei commented on #2952
I'm going to close this issue.

Taylor's position on this is pretty clear.

[2018-02-12 10:47] #2952 closed

[2018-02-12 10:49] laurencei commented on #3083
If you find any undocumented changes, please feel free to submit a specific PR or issue, so it can be addressed.

Recent upgrade guides also make mention of classes that are going to be depreciated. Once again, if you find a specific issue please feel free to submit a PR so it can be fixed.

[2018-02-12 10:49] #3083 closed

[2018-02-12 10:52] laurencei commented on #3114
This would only affect your upgrade if you changed your local `app/broadcasting.php` file.

Meanwhile a change was made to `laravel/laravel` that fixed new installations with this problem, so the issue is now resolved.

Thanks

[2018-02-12 10:52] #3114 closed

[2018-02-12 10:53] laurencei commented on #3130
I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 10:53] #3130 closed

[2018-02-12 10:54] #3141 closed

[2018-02-12 10:54] laurencei commented on #3219
The laravel artwork is publically available at: https://github.com/laravel/art

[2018-02-12 10:54] #3219 closed

[2018-02-12 10:55] #3201 closed

[2018-02-12 10:57] laurencei commented on #3173
@kkomelin @barryvdh ,

What is the TLDR of this? Do we need to update the docs, or can this issue be closed?

[2018-02-12 11:00] laurencei commented on #2679
I'm going to close this issue.

The docs have been updated significantly since this was posted, and the Eloquent section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:00] #2679 closed

[2018-02-12 11:00] #3168 closed

[2018-02-12 11:01] laurencei commented on #2768
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:01] #2768 closed

[2018-02-12 11:01] laurencei commented on #2740
Closing as issue has been fixed.

[2018-02-12 11:01] #2740 closed

[2018-02-12 11:01] laurencei commented on #2738
Closing as this issue has been resolved.

[2018-02-12 11:01] #2738 closed

[2018-02-12 11:02] laurencei commented on #2705
Closing as this issue has been resolved.

[2018-02-12 11:02] #2705 closed

[2018-02-12 11:02] laurencei commented on #2650
Closing as this issue has been resolved.

[2018-02-12 11:02] #2650 closed

[2018-02-12 11:05] laurencei commented on #3284
This looks to be resolved with the PR above.

If anyone still has any issues feel free to open a new ticket. Thanks

[2018-02-12 11:05] #3284 closed

[2018-02-12 11:10] laurencei commented on #3921
Closing this issue, as reviewing the linked Passport issue, it was resolved there.

[2018-02-12 11:10] #3921 closed

[2018-02-12 11:10] #3928 closed

[2018-02-12 11:11] laurencei commented on #4037
I'm closing this ticket. I submitted a PR for this, although Taylor has decided to leave it as is.

[2018-02-12 11:11] #4037 closed

[2018-02-12 11:11] laurencei commented on #2566
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:11] #2566 closed

[2018-02-12 11:12] laurencei commented on #2574
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:12] #2574 closed

[2018-02-12 11:12] laurencei commented on #2542
Hi,

I've tested this, and it works as expected for Laravel 5.5 and above.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:12] #2542 closed

[2018-02-12 11:12] laurencei commented on #2539
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:12] #2539 closed

[2018-02-12 11:16] laurencei commented on #2595
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:16] #2595 closed

[2018-02-12 11:16] #2698 closed

[2018-02-12 11:17] laurencei commented on #2770
Hi there,

Welcome to Laravel and we are glad to have you as part of the community.

Unfortunately this GitHub area is not a support area for general application issues. This is only for issues/bugs with the framework code itself.

Can I suggest closing your issue ticket here? Instead try asking your question on one of the many great community support areas that will likely give you a better answe

[2018-02-12 11:17] #2770 closed

[2018-02-12 11:31] laurencei commented on #2833
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:31] #2833 closed

[2018-02-12 11:32] laurencei commented on #2804
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:32] #2804 closed

[2018-02-12 11:32] laurencei commented on #2791
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and the Database section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 11:32] #2791 closed

[2018-02-12 11:39] laurencei commented on #2586
Hi,

I've submitted a PR with these changes. Thanks for bringing it to our attention.

[2018-02-12 11:39] #2586 closed

[2018-02-12 11:41] laurencei commented on #3256
There is now a prefix option for redis - so each application can define it's own prefix to prevent clashes.

[2018-02-12 11:41] #3256 closed

[2018-02-12 11:43] laurencei commented on #3414
Hi there,

I'm going to close this ticket as this issue seems resolved. If you believe there are still errors in the current docs, please let me know or feel free to open a new ticket.

Thanks!

[2018-02-12 11:43] #3414 closed

[2018-02-12 11:44] laurencei commented on #2972
I'm closing this, as these are now included in the docs. Thanks

[2018-02-12 11:44] #2972 closed

[2018-02-12 11:47] laurencei commented on #3266
@miklcct, what would you suggest the wording could be changed to?

[2018-02-12 11:54] laurencei commented on #2851
Thanks @batiste93 - I've submitted a PR with this info for Taylor to consider.

[2018-02-12 11:54] #2851 closed

[2018-02-12 12:11] laurencei commented on #2647
I've submitted a PR to solve this problem. It is up to Taylor if it gets pulled in.

[2018-02-12 12:11] #2647 closed

[2018-02-12 12:14] laurencei commented on #3637
I'm going to close this ticket, as the documentation seems correct as pointed out by @carusogabriel

[2018-02-12 12:14] #3637 closed

[2018-02-12 12:18] laurencei commented on #3483
Closing as this issue appears resolved now.

[2018-02-12 12:18] #3483 closed

[2018-02-12 12:19] laurencei commented on #3478
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 12:19] #3478 closed

[2018-02-12 12:26] laurencei commented on #3453
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 12:26] #3453 closed

[2018-02-12 12:26] laurencei commented on #3413
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 12:26] #3413 closed

[2018-02-12 12:32] laurencei commented on #3250
Thanks @mickaelpch - I've submitted a PR with this idea for Taylor's consideration.

[2018-02-12 12:32] #3250 closed

[2018-02-12 12:37] laurencei commented on #3220
I'm going to close this ticket.

Mandrill was specifically removed by Taylor in the docs for "reasons".

However the TransportManager still has the driver available, so it should not affect anyone upgrading.

I would suggest looking into alternative options as others have suggested for other open source partners.

[2018-02-12 12:37] #3220 closed

[2018-02-12 12:41] laurencei commented on #3147
Closing as this issue appears resolved.

[2018-02-12 12:41] #3147 closed

[2018-02-12 12:42] laurencei commented on #3144
@themsaid - as the localization expert - do we need to change anything here, or can both functions be used?

[2018-02-12 12:44] laurencei commented on #3140
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 12:44] #3140 closed

[2018-02-12 12:44] laurencei commented on #3082
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 12:44] #3082 closed

[2018-02-12 12:45] laurencei commented on #3003
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 12:45] #3003 closed

[2018-02-12 12:47] laurencei commented on #2973
Thanks @ockle,

I believe this is due to being too low level to mention in the documentation, otherwise it would be overwhelming when trying to read it.

You are welcome to submit a PR with a way we can include it, without being too in depth for everyone.

Thanks!

[2018-02-12 12:47] #2973 closed

[2018-02-12 12:48] laurencei commented on #2964
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 12:48] #2964 closed

[2018-02-12 12:48] laurencei commented on #2955
I'm closing this issue, as a PR was done.

[2018-02-12 12:48] #2955 closed

[2018-02-12 12:49] laurencei commented on #2949
Hi there,

FYI - I'm going to close this issue.

The docs have been updated significantly since this was posted, and that section has been re-written.

If you believe there are still improvements that can be made, please feel free to submit a PR with the changes, or open a new ticket with the details of the problem.

Thanks.

[2018-02-12 12:49] #2949 closed

[2018-02-12 12:52] laurencei commented on #2946
@sisve - your an expert at this type of stuff. What are your thoughts?

[2018-02-12 13:01] laurencei commented on #3172
Thanks @vpratfr - I've done a PR for this for Taylor's consideration.

[2018-02-12 13:01] #3172 closed

[2018-02-12 13:06] vpratfr commented on #3172
I had already submitted a PR which got closed...

[2018-02-12 13:07] laurencei commented on #3172
I meant a PR for the docs to be included there.

[2018-02-12 13:11] laurencei commented on #3898
@fideloper - as the server expert; are you able to help comment on this? Should we update the docs, or are they ok as they are?

[2018-02-12 13:35] fideloper commented on #3898
From every server I've checked, he's wrong. It's included in `fastcgi_params` and the secondary `fastcgi.conf` file included with Debian/Ubuntu Nginx.

[2018-02-12 13:52] Virp commented on #3898
Default fastcgi_params file
`fastcgi_param  QUERY_STRING       $query_string;
fastcgi_param  REQUEST_METHOD     $request_method;
fastcgi_param  CONTENT_TYPE       $content_type;
fastcgi_param  CONTENT_LENGTH     $content_length;

fastcgi_param  SCRIPT_NAME        $fastcgi_script_name;
fastcgi_param  REQUEST_URI        $request_uri;
fastcgi_param  DOCUMENT_URI       $document_uri;
fastcgi_param  DO

[2018-02-12 15:14] sisve commented on #2946
My bitterness is mostly focused around release management and stability, and this issue seems to be focused on documentation ... but that won't stop me! ;)

I understand the idea behind the quotes, there's no way for me to differ between the string value `"3"` and the numeric value `3` without them. Perhaps if mysqlnd was used with type information; but can mysql really provide any reliable type i

[2018-02-12 18:50] themsaid commented on #3144
`__()` will look for lines inside the JSON files, if nothing found it'll look into the array files so basically it'll work same as `trans()` if not JSON keys were found.

So no need to apply any changes imo.

[2018-02-12 18:50] #3144 closed

[2018-02-12 23:53] laurencei commented on #3590
Hi everyone,

This is now in the docs as part of the auth Horizon section.

[2018-02-12 23:53] #3590 closed

[2018-02-13 00:02] laurencei commented on #2946
Yeah... I think it's getting beyond the scope of Eloquent, and more into the SQL side of things.

I'm going to close this for now. No one else has raised the issue in over a year, so I think it's an edge case for now.

If anyone has a good clean way to document this without getting too technical, please feel free to submit a PR, or open a new ticket with more details.

Thanks everyone.

[2018-02-13 00:02] #2946 closed

[2018-02-13 02:11] kailichiang commented on #3787
If we use the auth scaffolding, it definitely works great because it adds `auth::routes()` in `routes/web.php` that brings a named route `login` with URI `login` and action `App\Http\Controllers\Auth\LoginController@showLoginForm`

By `php artisan route:list`, we can find the route

URI | Name|Action
------------ | -------------| -------------
login | login|App\Http\Controllers\Auth\LoginControlle

[2018-02-13 08:52] laurencei commented on #3952
Thanks - I've submitted a PR to make docs have "better" 404's if they dont exist: https://github.com/laravel/laravel.com/pull/174

[2018-02-13 08:52] #3952 closed

[2018-02-13 08:53] laurencei commented on #3841
Thanks. I submitted a PR for this, but Taylor has decided to leave it as is.

[2018-02-13 08:53] #3841 closed

[2018-02-13 08:55] laurencei commented on #3745
I'm going to close this issue.

If you are running PHP 7.0, then Composer will detect this, and only install up to `symfony/console 3.3.6`.

If anyone can prove otherwise, please open a new ticket with a detailed composer install error, and we can investigate further. But at this stage it should work as expected.

[2018-02-13 08:55] #3745 closed

[2018-02-13 08:56] laurencei commented on #3532
Thanks - I've submitted a PR for a dark theme here: https://github.com/laravel/laravel.com/pull/175

It is up to Taylor if it gets accepted or not.

[2018-02-13 08:56] #3532 closed

[2018-02-13 08:58] laurencei commented on #3898
Yeah, every install I've ever had worked as well.

I'm going to close this ticket for now. It is impossible to list every config option for all server builds. It is plausable that everyone will need to tweak some settings depending on how it is built.

[2018-02-13 08:58] #3898 closed

[2018-02-13 09:03] laurencei commented on #3988
I re-read the docs. It is mention in the https://laravel.com/docs/5.6/testing section:

[2018-02-13 09:03] #3988 closed

[2018-02-13 09:05] laurencei commented on #3853
@themsaid - thoughts? Do you think we need to highlight the use of middleware in a certain order, or leave it as is?

[2018-02-13 09:07] laurencei commented on #3787
We recently updated the guidelines for changing auth routes etc.

https://laravel.com/docs/5.6/authentication#included-authenticating

See "path customization".

Does that solve the issue?

[2018-02-13 12:05] gputignano opened #4081 "Aliasing Components Error"
I'm studing Blade docs and I get an error trying to alias component.
I added the code:
[code]
in AppServiceProvider;

then I used this code:
[code]
but I get an error about argument 2 passed:

[code]
The error is in the DOCS or a laravel bug?

[2018-02-13 16:08] tylernathanreed commented on #3639
If only I had unit tests to run. According to my CEO, that process is "too expensive", as it wastes developer time. *sigh*....

[2018-02-13 16:21] arasmit2453 commented on #3639
I have seen that before and is just matter of explaining him why you should upgrade and not keep waiting on it.

1- Once laravel 5.1 is not supported anymore you might find bugs in the framework that you have to workaround yourself
2- PHP versions are being deprecated and not supported quite fast so in 1 or 2 years you might be facing the issue that you can't run PHP 7.1 easily in the latest Ubunt

[2018-02-13 16:27] JaydenJames commented on #3639
Man, sorry to hear that... it must be painful not just to upgrade the framework but to develop ANY new feature...

Fortunately for you, we have [larajobs](https://larajobs.com/) where you can find a more decent place to work :)

[2018-02-14 01:39] laurencei commented on #3191
Essentially you could use Closures almost anywhere in the Laravel framework. Many functions and options actually accept them. However documenting this can lead developers down the wrong path, and imply that it is the "correct" behaviour.

The reality is most cases a class would be a better option for events like this.

[2018-02-14 01:39] #3191 closed

[2018-02-14 01:39] laurencei commented on #3639
If anyone wants to write a detailed guide upgrading 5.1 to 5.5 as a "single" step, they are welcome to submit a PR for Taylor to consider.

[2018-02-14 01:39] #3639 closed

[2018-02-14 02:03] laurencei commented on #3077
I've submitted a PR for this to be changed. It's up to Taylor if it is accepted or not.

[2018-02-14 02:03] #3077 closed

[2018-02-14 02:27] orrd commented on #3191
I'm not sure you really understand why the simpler approach is preferred for most cases.  There aren't as many cases where adding a whole new class just to handle a model event would be preferred.  The added complexity often isn't worth the advantage of code separation.  It's reasonable to expect that the definition of a model class includes defining how that model responds to events.

There's a r

[2018-02-14 02:29] laurencei commented on #3191
Your welcome to submit a PR with an example of how you propose the docs can be modified to include it, and Taylor can decide if he wants to accept it or not 😄

[2018-02-14 04:07] TimOgilvy commented on #3921
@laurencei Sorry for the late reply, I couldn't reproduce the error. Should be fine. Thanks :)

[2018-02-14 09:19] bhulsman commented on #3733
This is a little while ago, but as far as I can remember the problem is the deployment strategy. These hostingproviders will deploy from a git-repo which replaces the application code base. But this might simply be a deployment related issue, not so much something to put in the Passport docs.

[2018-02-14 11:45] laurencei commented on #3733
Hmmm... ok. Given there's been no other issues raised - I'm going to close this for now.

If other people raise the issue we can look to amend the docs, but for now it seems like an edge case.

Thanks.

[2018-02-14 11:45] #3733 closed

[2018-02-15 05:38] kailichiang commented on #3787
It's clear. But it's not telling the redirection for unauthenticated. It might be a good idea to add a short paragraph or introduction for redirection of unauthentication.

[2018-02-15 16:44] joshbrw commented on #2516
@laurencei I believe this was resolved when Laravel changed the Global Scopes so that they were applied at query-time rather than at assignment-time, so when you remove a Global Scope it doesn't have to try and revert the changes it's made to the query.

[2018-02-16 07:22] laurencei commented on #2516
Cool - thanks.

[2018-02-16 12:09] laurencei commented on #3594
Ok - so to clarify - you can call the validator BEFORE it runs, and attach AFTER rules for when it is complete.

See my PR that Taylor closed for more info.

If anyone has a better way to write this, please feel free to submit a PR :)

[2018-02-16 12:09] #3594 closed

[2018-02-17 01:43] mscharlton commented on #2964
@laurencei  - mind putting a reference link to resolve this particular thread?  it would help others who have found this via a Google search, like myself lol.  I was wondering the exact same thing as I am writing a console/arstisan command and trying to be "clean" in Laravel, which is still new to me.

[2018-02-17 06:58] laurencei commented on #2964
There's no one specific answer to this topic. The logic can go anywhere, it really depends on your app and a number of other factors.

The entire docs have been re-written, and "hints" to where certain logic can go is scattered throughout the docs depending on the topic/situation.

This can be one starting point as well: https://laravel.com/docs/5.6/structure

[2018-02-17 07:41] laurencei commented on #3173
ping @kkomelin @barryvdh - can you please confirm the status of this? Thanks

[2018-02-17 07:43] laurencei commented on #3266
Closing due to inactivity. The docs have been updated since this topic was opened.

If anyone has a specific issue relating to the docs, please open a PR with the changes required, or submit a new issue with the exact problem so we can look into it. Thanks.

[2018-02-17 07:43] #3266 closed

[2018-02-17 07:45] laurencei commented on #3915
I think it is covere by this part: https://laravel.com/docs/5.6/events#defining-events

Does that clarify the situation? Or do you have an idea how it could be made clearer perhaps?

[2018-02-17 07:50] laurencei commented on #3523
Testing the examples in the documentation, I've not been able to reproduce this issue.

If anyone finds a problem with the provided examples, feel free to open a new issue with further details of the problem.

[2018-02-17 07:50] #3523 closed

[2018-02-17 09:14] laurencei commented on #3267
I've looked at this a couple of times. At the moment there is no example of using `->where()` in that example.

The error message is quite obvious if someone does encounter it.

If anyone has a good way to update the docs to make this fit cleanly with the rest of the documentation, please feel free to submit a PR for Taylor to review.

[2018-02-17 09:14] #3267 closed

[2018-02-17 10:06] garyross commented on #3915
Hi @laurencei,
I think the problem is the disconnect between the example in https://laravel.com/docs/5.5/eloquent#events page, and the example in the https://laravel.com/docs/5.5/events#defining-events page.

I think it would be improved by making both examples the same. i.e. in the https://laravel.com/docs/5.5/eloquent#events page
it should be the OrderShipped example rather than the UserSaved ex

[2018-02-18 02:10] zulrang commented on #3974
The issue mentioned here: https://github.com/laravel/framework/issues/22843

[2018-02-18 02:51] laurencei commented on #3915
Ok - I've submitted a PR to update the Eloquent examples first to be the single `Flight` example used.

[2018-02-18 03:05] laurencei commented on #3853
I've been giving this some thought. The reality is it is up to each application how to handle it - there is no single solution. For example:

If the session has expired - then there is no default available. i.e. you have no `$user` at all. In this single instance you have two options:

1. Have a generic `login` page without any locale
2. Have different `login` pages, and you can add a custom metho

[2018-02-18 03:05] #3853 closed

[2018-02-18 03:45] kkomelin commented on #3173
@laurencei
I summarized the problem and three possible solutions in my post https://komelin.com/articles/realtime-apps-laravel-echo-tips-and-tricks#laravel-echo-server-fails
The fourth solution is that Echo client should check the availability of socket.io itself because it's its dependency.
And yes Laravel docs still need an update.

[2018-02-18 04:16] laurencei commented on #3173
@kkomelin - so for the docs, if we changed:

[code]

is that sufficient for the docs?

[2018-02-18 04:26] kkomelin commented on #3173
@laurencei I don't think so. That solution is just a workaround and it highlights the issue in the Echo client which doesn't properly check its dependencies. Such check should be inside the Echo client.

I think we should make Socket.io section of the doc similar to Pusher one:
[code]
as @barryvdh suggested here https://github.com/laravel/docs/issues/3173#issuecomment-284708455
It would be better.

[2018-02-18 04:37] kkomelin commented on #3173
@laurencei But again, Laravel Echo client library must check itself whether its dependencies are available before using them.

[2018-02-18 04:46] laurencei commented on #3173
@kkomelin - can you review PR https://github.com/laravel/docs/pull/4098 and let me know?

It's up the maintainer for the Echo client what changes they make there. This repo is only for the documentation of how it performs now.

[2018-02-18 04:50] laurencei commented on #3974
I know 5.2 and 5.3 do not work with PHP7.2

I'm not sure about 5.1 - that was LTS so some changes were pushed there to make it work.

In an ideal world you would just update to 5.5 anyway. But if not - if there is a specific issue for 5.1 let me know

[2018-02-18 04:51] kkomelin commented on #3173
Right. And if you close this issue, it's likely that the maintainer of the Echo client will never know about the issue.

[2018-02-18 04:52] kkomelin commented on #3173
@laurencei I strongly believe that the Larvel Echo client developer(s) should also review its docs.

[2018-02-18 05:08] laurencei commented on #3173
@kkomelin - that is another repo created by the community. They dont have anything to do with the Laravel docs. If you feel there should be some changes in the docs there, it would be best if you open a PR on that repo with the changes you think are needed.

@tlaverdure is the developer there who maintains it. Once he/she sees your PR, they can decide if it should be merged into those docs as well

[2018-02-18 05:57] kkomelin commented on #3173
@laurencei [Laravel Echo client library project](https://github.com/laravel/echo) is created by @taylorotwell, and the readme says that http://laravel.com/docs/broadcasting is the official documentation for it. So, in fact, you're now working on the official documentation of the Laravel Echo library.

@tlaverdure is the developer of the Laravel Echo Server https://github.com/tlaverdure/laravel-ech

[2018-02-18 09:01] laurencei commented on #3173
Ok, sorry - I now understand what you are saying - I thought you were talking about the other repo.

So the PR I've submitted is always reviewed by Taylor, so he will see the PR and decide if the docs should be merged in or not (it's not up to me).

If you have other idea(s) on changes that can be made, you are welcome to submit a PR for Taylor to review as well.

[2018-02-18 12:35] kkomelin commented on #3173
Thank you @laurencei.

[2018-02-19 08:21] markdwhite opened #4101 "[5.5] Installation Via Laravel Installer information is out of date"
https://laravel.com/docs/5.5/installation#installing-laravel

States that "laravel new blog will create a directory named blog containing a fresh Laravel installation with all of Laravel's dependencies already installed" whereas this seems to install the current version 5.6.

[2018-02-19 10:42] laurencei commented on #4101
From what I can see in the code, the Laravel installer only installs either 'dev' or 'master'. You cant specify a specific version. If you want an older version you should use the composer install.

[2018-02-19 10:42] #4101 closed

[2018-02-19 10:47] laurencei commented on #3915
@garyross - as you can see, Taylor closed the PR. As mentioned in the PR, he doesnt think it is confusing.

I'm going to close the issue here as a result.

If you have a different way the docs could be improved then if you want to submit a PR with some of the changes, and Taylor can review that.

[2018-02-19 10:54] garyross commented on #3915
@laurencei
Fair enough. Although I think that was my point - it's clear if it's already clear, and who doesn't know more about Laravel than Taylor :-)

[2018-02-19 11:03] kronthto opened #4102 "[5.6] Logging - Customizing Monolog"
Regarding the signature of the `__invoke` method of the Log-customizer-class (defined via `tap`): In https://github.com/laravel/docs/blob/b11f7e28fc4348a8e6647a779aee450bbc533e63/logging.md#customizing-monolog-for-channels it says:

But actually an instance of `\Illuminate\Log\Logger` is passed: https://github.com/laravel/framework/blob/b34541e1eb690964854202376c2778e1b52d41d7/src/Illuminate/Log/L

[2018-02-19 11:11] laurencei commented on #4102
@kronthto - are you able to submit a PR with the fix?

[2018-02-19 11:59] kronthto commented on #4102
I did, see #4103

[2018-02-19 14:20] #4102 closed

[2018-02-19 15:57] markdwhite commented on #4101
I know what I *can* do. I just followed the next instructions on the webpage.

The issue is that the webpage is out of date on this particular instruction now 5.6 has been released.

Maybe I'm raising this in the wrong place? I thought this was for the docs on the website...

[2018-02-20 00:29] michaeldyrynda commented on #4101
Given the way the Laravel installer currently works, it would probably be worthwhile nuking the entire section on the Laravel installer, using `composer create-project` for all previous versions of the docs.

Alternatively, submit a PR to the installer to add the ability to specify a version.

[2018-02-20 00:32] markdwhite commented on #4101
"Given the way the Laravel installer currently works, it would probably be worthwhile nuking the entire section on the Laravel installer, using composer create-project for all previous versions of the docs."

Exactly that :-)

[2018-02-20 10:11] TheSachin opened #4110 "Database transactions removed from laravel database testing"
I just noticed that documentation for trait
`Illuminate\Foundation\Testing\DatabaseTransactions` has been removed. Is there reason? Is this Trait going to be depreciated?

[2018-02-21 01:14] laurencei commented on #4110
There is no formal announcement of a deprciation.

The recommendation for Laravel 5.6 is simply to use the `RefreshDatabase` trait, which uses transacitons under the hood.

[2018-02-21 01:14] #4110 closed

[2018-02-21 09:35] domste opened #4112 "Pluralization - Localization file notes"
There should be a hint, that the countindex in localization files have to be preceded by the | character on laravel > 5.3.

In **laravel 5.3** following code is translated correctly:
[code]
In **Laravel 5.5** it is mandatory that the '|' precedes the curly braces else the regex is not working
[code]

[2018-02-22 07:37] robjbrain commented on #3915
I've just found this page after getting confused and Googling. The docs definitely need to be updated (and i'm not sure your PR actually solved the issue @laurencei)

The docs say to use either use an observer or something like this: (in my case I realised the observer didn't get used if you extended the User class, so I wanted something that would be on the User class itself).

So I wound up with

[2018-02-22 07:49] laurencei commented on #3915
Thanks @robjbrain.

I'll look at this again tomorrow.

Lets see if we can nut this out between the 3 of us and do a solid PR for Taylor to merge in.

[2018-02-22 08:20] garyross commented on #3915
@laurencei
Thank you very much.

@robjbrain
Precisely. I went through this thought process when I first came across this.

I think [this quote by Steven Pinker](https://www.cnbc.com/2018/02/20/harvard-psychologist-steven-pinker-shares-no-1-communication-mistake.html) is relevant here!

Taylor as the genius who made Laravel perhaps struggles to understand that these connections are very far from ob

[2018-02-22 08:31] laurencei commented on #3915
`BroadcastOn` is when you want to broadcast your events.

That is covered here: https://laravel.com/docs/5.6/broadcasting

[2018-02-22 11:00] brynj-digital opened #4113 "Add updateOrCreate() method to Eloquent Inserting & Updating Related Models"
The Inserting & Updating Related Models section of the [Eloquent Relationships documentation](https://laravel.com/docs/5.6/eloquent-relationships#inserting-and-updating-related-models) would benefit from adding information about the `updateOrCreate()` method for hasMany relationships.

At the moment, it's not clear you can use this method via the relationship. For example, this is perfectly valid:

[2018-02-23 00:38] laurencei commented on #4112
@themsaid - is that right? I've got little experience with localisation stuff, and your the expert :)

[2018-02-23 06:36] markdwhite opened #4117 "[5.5] Missing sections on https://laravel.com/api/5.5/"
Not sure if laravel/docs is the right place for this, but something's not right in the left pane sub-menu.

Eg: Under Illuminate\Foundation, lots of sub-folders are missing in the left pane, where they are present on the right.

![xsnap133304](https://user-images.githubusercontent.com/292063/36581223-83a49f2e-189e-11e8-81c9-e9b3e237a36f.png)

[2018-02-23 19:31] NaveNO opened #4118 "No information about authorizeResource() method."
Hello there. As I see, there is no word about awesome function authorizeResource() which can apply policy to all of the resource controller's methods automatically instead of $this->authorize() in each method. Add this to docs, please! Thank you very much :)

[2018-02-23 19:57] NaveNO commented on #4118
Added pull request with fixing authorization.md file.

[2018-02-24 07:23] laurencei commented on #4118
Thanks @NaveNO  - I'll close this issue as you've done a PR - so it'll be handled there by Taylor. Thanks!!

[2018-02-24 07:23] #4118 closed

[2018-02-25 16:50] 1e4 opened #4123 "Bindings are required for Model Bindings yet there is nothing on the docs about it"
I was reading up more into Route Model Bindings and I couldn't work out why nothing was being injected properly. Turns out `\Illuminate\Routing\Middleware\SubstituteBindings::class` is optional middleware and not on by default.

There is no reference of this under [Routing](https://laravel.com/docs/5.6/routing#route-model-binding).

Do you think there should be a section or at least a mention of i

[2018-02-25 16:51] #4123 closed

[2018-02-26 16:42] stevesweets commented on #3639
I have to do this on a project, so i'll attempt to write a 5.1 to 5.5 single step guide and do a pull req.

[2018-02-26 23:35] michaeldyrynda commented on #3639
I wouldn't advise 5.1 -> 5.5 in one big step. If you look at each of the individual upgrade guides, you'll see there's quite a bit involved, particularly 5.2 - 5.3 and 5.3 - 5.4. It's a more sane approach to do each individually and ensure things work between, rather than sweeping changes from 5.1 to 5.5 - bearing in mind not only is the framework version changing, but so is the minimum PHP versio

[2018-02-27 04:59] FinesseRus opened #4128 "A 5.6 policy backward incompatible change is not documented"
I faced an issue in my project caused by a 5.6 backward incompatible change which is not described in [the documentation](https://laravel.com/docs/5.6/upgrade).

Consider this example:

[code]

In Laravel 5.5 the `before` method of a policy registered through the `define` or the `resource` method was not considered. So the result of the example above depended both on `is_staff` and `free_at`.

In

[2018-02-27 19:37] mputkowski commented on #4128
First of all you shouldn't call `before` method, it's called automatically.

You should return true from the `before` method **only when** `$user->is_staff` is also true, otherwise your policy will deny user to perform action.

[code]

More info: [Policy filters](https://laravel.com/docs/5.6/authorization#policy-filters)

[2018-02-27 22:40] FinesseRus commented on #4128
@mputkowski

I agree. But Laravel 5.5 didn’t call `before` methods (in case when a policy is registered through `Gate::define`) so I had to do it manually.

Laravel 5.6 does call `before` which is great. Nevertheless this is a breaking change.

[2018-02-27 23:18] mputkowski commented on #4128
Laravel 5.6 changed nothing in authorization, change in behavior is impossible.

[2018-02-27 23:38] FinesseRus commented on #4128
@mputkowski There is a change in the `Gate` class which makes it consider `before`: https://github.com/laravel/framework/compare/v5.5.0...v5.6.0#diff-961368895033e553787b301c3be0e17aL155 (switch to the «Files Changed» tab and find the `Gate.php` file).

The policy calling code in 5.5:

[code]

The policy calling code in 5.6:

[code]

[2018-02-28 17:47] mputkowski commented on #4128
Actually it has been changed in [https://github.com/laravel/framework/releases/tag/v5.5.20](5.5.20), Gate was broken so it had to be fixed.

After these changes I checked everything and it was working correctly. I think it's your code's issue...

[2018-02-28 22:09] FinesseRus commented on #4128
@mputkowski I thought the 5.5 behavior is by design, not a bug. If it is a bug, the issue needs to be closed.

[2018-03-01 15:17] tomeh opened #4132 "5.6 Docs still lists Illuminate\Contracts\Logging\Log"
As the title says, I still see the logging contract in the Contracts documentation.

Making a PR now.

[2018-03-01 15:28] gr33k01 commented on #4110
I feel like I'm missing something here. Came here wondering the same thing @TheSachin was wondering. The testing docs don't say anything about using transactions under the hood and it's kinda confusing / ambiguous what it means by `reset database` when the docs say `It is often useful to reset your database after each test so that data from a previous test does not interfere with subsequent tests.

[2018-03-01 15:39] gr33k01 commented on #4110
If the best practice is to configure a separate test database for factory data or to run tests against a database without any persisted data, I think it'd be helpful to point this out in the database testing docs.

[2018-03-01 20:44] #4132 closed

[2018-03-01 21:38] michaeldyrynda commented on #4110
I don't think the docs necessarily need to explain _how_ this happens, if you're curious, you can dive into the source and see for yourself. The docs broadly explain what is happening, but I don't believe it's their place to explain the inner workings.

Using `DatabaseTransactions` will run individual tests inside a transaction, so  everything within that test is rolled back at the end of the test

[2018-03-02 09:13] TheSachin commented on #4110
Problem with that is,

- It takes more time rather than DatabaseTransactions

- Doesn't allow complicated setups. My setup is basically before whole suite is ran against. I want to have certain models in db and just before test is executed i want it to be reset again.
Then again my way of doing could be wrong.

[2018-03-02 16:22] cordeta opened #4140 "tl_PH il8n [Tagalog Localization]"
Good day!

If you may I would like to make a contribution to this project by localizing the files in this branch into Tagalog

I'm a freelance translator paid by sponsors that rewards contributors to open-source projects.

Rest assured that my work is credible.

Hoping for your response,

Cheers!

[2018-03-03 17:03] omarkdev opened #4144 "[Proposal] Multilanguage in the docs"
At the beginning of the repository was proposed in the issue #76, documentation in others languages, however, it was answered that it would be better to wait. What if we now have documentation in others languages?

We could separate into several folders, more or less like this:

[code]

I could translate to pt-BR.

[2018-03-03 17:42] decadence commented on #4144
I think that is never going to happen because other docs will be always out of date and Taylor won't be happy with that.

[2018-03-03 17:51] omarkdev commented on #4144
Whenever you release a new version of Laravel, is the documentation updated on the fly with the new features? Or do they come up because of the weather? I believe documentation in other languages will work the same way.

In the same way that a new branch is created from the previous version to the new one and things will be outdated until someone goes there and updates them, the documentation in o

[2018-03-03 17:58] browner12 commented on #4144
While I agree this would be good for accessibility, I feel like it would be a maintenance nightmare.

Also, in order for this to work, Taylor would have to assign a manager for every supported language to review and merge PRs, as I'm assuming Taylor is not multilingual (just like most of the rest of us).

Curious question, people who are not native English speakers, what is it like interacting wit

[2018-03-04 01:39] omarkdev commented on #4144
I believe we are not multilingual, but we are from different languages.

Perhaps to overcome the need of people from other languages ​​to revise, we could find communities in other languages ​​especialized in translations or Laravel.

I see more and more people starting out in the programming world wanting to learn Laravel, do you think that for these people a documentation in your language would

[2018-03-07 09:42] laurencei commented on #4144
Taylor has previously stated (just as recently as a few weeks ago) - people are able to do this yourself as a community project, but he has no plans to include this on the official docs.

[2018-03-07 09:42] #4144 closed

[2018-03-07 09:43] laurencei commented on #4140
Thanks - at this stage there are no plans to provide the docs in other languages, although the community is able to do this if they want.

[2018-03-07 09:43] #4140 closed

[2018-03-07 09:46] laurencei commented on #4128
According to the docs - Laravel 5.5 called `before` as well. It is documented here: https://laravel.com/docs/5.5/authorization#writing-policies

At this stage there's no obvious change - it all looks like it is working as was intended.

[2018-03-07 09:46] #4128 closed

[2018-03-07 09:47] laurencei commented on #4113
@brynj-digital - would you be able to submit a PR with this chage?

[2018-03-07 09:47] laurencei commented on #3173
@kkomelin - are you able to submit a PR with what you think the changes should be? At this stage it is difficult for me to replicate what you are saying.

[2018-03-07 14:44] MattRogowski opened #4152 "Broken styling for information/note alerts"
I’m seeing broken icon styling in the alerts in Chrome 65 and Firefox

![image 1](https://user-images.githubusercontent.com/545339/37098413-ba37a7cc-2215-11e8-9148-ac7d7eb57ef0.png)
![image 2](https://user-images.githubusercontent.com/545339/37098421-be284a1c-2215-11e8-88ce-b18dfdf5c466.png)

[2018-03-07 17:44] citricsquid commented on #4152
This was caused by [this commit](https://github.com/laravel/laravel.com/commit/07d2d440c8b81b38edb94ecdeb3e98e10fccfe32), because the documentation uses a `.flag` class that has been declared again for the community page, but at a global level. I've submitted a PR to fix it.

[2018-03-07 18:29] #4152 closed

[2018-03-07 21:32] davidangel commented on #3317
I've recently been trying to read through all of the docs. An ebook version of the docs actually sounds really nice. I understand they could become dated at any point, and that it may just be better to do this with a tablet instead of an e-reader.

[2018-03-08 14:42] driade commented on #3317
Hi @davidangel , I'd suggest you to check Leanpub. There're people already offering Laravel documentation un ebook.

[2018-03-08 14:44] driade commented on #3317
I decided to reopen the issue, maybe more people would find it interesting to have the docs in ebook.

[2018-03-08 15:10] driade commented on #3317
Added docs for 5.5 and 5.6.

[2018-03-09 19:37] kkomelin commented on #3173
@laurencei Done https://github.com/laravel/docs/pull/4156
I used your previous PR as a basis, just improved the npm install command.
Tested.

[2018-03-09 21:39] kkomelin commented on #3173
The Broadcasting documentation has just been updated (https://github.com/laravel/docs/pull/4156) according to the best proposed solution https://laravel.com/docs/5.6/broadcasting#driver-prerequisites.

Thanks to everyone involved! We've done a great job.

[2018-03-09 21:39] #3173 closed

[2018-03-10 06:49] laurencei commented on #3317
Hi @driade - please create a PR with a suggestion on including the link. Taylor will then decide to include it or not.

I'll close the issue here and let you do the PR. Thnks.

[2018-03-10 06:49] #3317 closed

[2018-03-11 09:56] goncalomcunha opened #4161 "Navigation links in the bottom of each article"
How about having some links to the next and previous article in the bottom of each article? Every time I reach the end of an article, I have to scroll all the way up to go to the next article.

In mobile, I have to scroll all the way up, click the hamburger, and then scroll down until I find the next article link.

Something like this would be nice:

![1](https://user-images.githubusercontent.com/

[2018-03-17 00:50] shalvah opened #4177 "Add a deployment guide?"
The documentation comes with good installation instructions. However, I've realized lots of devs (especially PHP newbies) often encounter difficulties when deploying.

To be fair, this isn't the framework's fault or responsibility. And I know that the wide variety of hosting environments out there make a comprehensive deployment guide an impossible task. However, is there any possibility we could

[2018-03-17 01:03] michaeldyrynda commented on #4177
I think if anything, a how-to for Forge, but I wouldn't specifically do anything else - especially shared. Too many variables, otherwise.

[2018-03-18 12:49] Kyslik commented on #4177
https://serversforhackers.com/s/start-here is really good resource, and if you are curious enough you will find many resources for free.

[2018-03-18 17:58] isometriq opened #4178 "API docs (generated by Sami) is out of date ?"
Not sure if it is generalized, but take this page for instance:
https://laravel.com/api/5.6/Illuminate/Foundation/Testing/ApplicationTrait.html

`trait ApplicationTrait (View source)`
If you click on the `View source` link, it brings me to the repo on branch 5.1 ..I would expect 5.6, and if I change the branch in github, it gives me a 404.

Also on this page for instance
https://laravel.com/api/5.

[2018-03-18 19:45] enriqg9 commented on #4110
@TheSachin Another problem is that the database seeds are not run, so if your application depends on some seeds this will not work as every time the database is wiped and does not get seeded.

[2018-03-19 19:03] ColinLaws opened #4183 "Add PK and FK to billing.md database migration"
The provided database migration example does not specify an auto-incrementing primary key for the billable model example (the user table). I propose it be updated to the following to provide clarity on this relationship between the billable object and its subscriptions.

[code]

[2018-03-19 19:58] ColinLaws commented on #4183
Created PR #4184 to resolve this issue, I would appreciate any feedback :)

[2018-03-19 22:57] jmfederico commented on #3937
Documentation for  assertJsonCount() is still missing.

[2018-03-20 12:27] ColinLaws commented on #4183
PR #4188 ready for review on these changes.

[2018-03-20 15:36] bdteo commented on #3974
Why don'y you just add a note that Laravel 5.1 will not support php >= 7.2 ?

Laravel 5.1 has major issues with php 7.2. Failing to mention this fact in the docs is a major mistake.

[2018-03-20 15:42] #4183 closed

[2018-03-20 16:53] ColinLaws commented on #4177
I do agree that Laravel holds your hand so much that it's pretty safe to say you're encountering a lot of people that are doing web (and php for that matter) with Laravel, and do not know how to properly roll out production code or use common production practices.

The problem with adding it to the Laravel docs is that it isn't necessarily about Laravel. You can plug Laravel into different servers

[2018-03-21 10:54] draude commented on #3583
👍 the response is different and might break something in your code

[2018-04-01 02:48] laurencei commented on #4177
Pretty much this. The scope is massive, and there are too many variables.

Laravel already promotes Forge and Envoyer as options - so if you need a hand you have official options available.

[2018-04-01 02:48] #4177 closed

[2018-04-01 02:50] laurencei commented on #4161
This assumes you are browsing the entire document from start to finish though. Most instances would be someone looking up a specific topic.

It also creates an increased level of micro management of the docs. Anytime a new "page/topic" is created, someone would have to edit the other files.

You are welcome to submit a PR with this change though for Taylor to consider.

[2018-04-01 02:50] #4161 closed

[2018-04-02 10:04] BehroozBvk commented on #3523
tanks for code values()

[2018-04-03 18:02] toddstoker opened #4214 "PhpRedis and the Redis Alias Note"
From:
https://github.com/laravel/docs/blob/5.5/redis.md#phpredis
https://github.com/laravel/docs/blob/5.6/redis.md#phpredis

Regarding the following note:

The note is no longer relevant, correct? It looks like (since 5.5) RedisManager correctly resolves the Predis/PhpRedis Connectors based on the driver defined in the database.php config file.

[2018-04-04 13:09] jonnott opened #4216 "BC in 5.4 .. 'errors.404' in app/Providers/ComposerServiceProvider.php"
In upgrading an app from Laravel 5.3 to 5.4, I had a view composer configured in ComposerServiceProvider::boot() thusly:

        view()->composer(
            ['home', 'errors.404'],
            'App\Http\ViewComposers\IndividualCountComposer'
        );

..to make a variable available on both the homepage and 404 error page templates. In 5.4, I had to change this to:

        view()->composer(

[2018-04-05 10:28] DavisAre opened #4220 "Issue with registering policies in 5.6 via AuthServiceProvider.php"
https://github.com/laravel/docs/blame/86f709a0a723f20f580c71a717e5fa4f6288af9c/authorization.md#L105

I think it should be changed to:
`'App\Post' => 'App\Policies\PostPolicy',`
Since before that change `@can('update', $post)` simply din't work for me.

Also `php artisan make:policy PostPolicy --model=Post` by default generates the following boilerplate:
[code]

[2018-04-05 10:45] #4220 closed

[2018-04-05 10:45] DavisAre commented on #4220
Update: It seems that my code may was wrong initially .

[2018-04-05 13:37] jonathangoncalves opened #4222 "Eloquent Static Examples"
Hi Guys,

Lately i've reading the Eloquent docs and saw that the examples are made calling its functions statically, but when I put this on my code, apparently was wrong.
https://laravel.com/docs/5.6/eloquent#retrieving-single-models

### Simple Example:

[code]

But in the file that declares the "find" function is that way:

[code]

So the example is wrong right?  I can't call statically a functi

[2018-04-05 18:53] enderandpeter commented on #4222
Did you get an error when you ran `App\Flight::find([1, 2, 3])`? If I'm not mistaken, the base model class is using magic methods to call the corresponding instance methods.

[2018-04-05 19:44] jhoff commented on #4222
Your first issue is that the `find` method doesn't accept an array. You want `whereIn`.

[code]

Secondly, as @enderandpeter eluded to, the find method isn't part of the model class. It's part of the query builder class. When a static method is called on a method that it can't handle, it'll call that unhandled method on a new query builder instance.

[2018-04-05 19:50] jonathangoncalves commented on #4222
Not an error, but according [PHP.net  documentation](http://php.net/manual/en/language.oop5.static.php):

So it's better to use the right way for a better compatibility in the future, since that support will be removed in the future, right?

[2018-04-05 20:01] enderandpeter commented on #4222
The static method `App\Flight::find` is indeed being called statically. The model classes are using [magic methods](http://www.php.net/manual/en/language.oop5.magic.php) to call a method of the same name on an instance of the class. Magic methods allow you to define what happens when you look up a name that does not exist on a class or object. So, when PHP sees that there is no static `find` metho

[2018-04-05 20:13] jonathangoncalves commented on #4222
So that warning on PHP.net documentation should be ignored?

[2018-04-05 20:15] enderandpeter commented on #4222
Absolutely not, sir. The framework is adhering to that policy. Again, the `find` method is most certainly being called statically on the model class. It is just that instead of a `find` method being defined directly on the model class, somewhere up the inheritance chain there is a `__callStatic` method that is calling such methods on an instance of the class.

[2018-04-13 14:15] Crx4 commented on #3345
@amadeann same concern, same conclusion.

[2018-04-20 07:20] edenr2 opened #4246 "Mailer::alwaysTo() and Mailler::alwaysFrom()"
These two are public methods and they are not mentioned in the docs as far as I know.
I had to look into the code to find them. Would be nice if it was in the docs aswell.

[2018-04-24 12:25] Jossnaz commented on #3915
I have no clue how to use events, the laravel docs do not explain it. A new event system was introduced, but not explained. Now I am here, still don't understand how to use it.

I want to delete a file on "deleting" this used to be very easy and very clear. Sorry my ignorance, but no, I don't get it at all

[2018-04-24 12:27] Jossnaz commented on #3915
can you just maybe provide a _simple_ example of say deleting or pretty much _any_ event class that does something simple on an event?

[2018-04-24 12:44] Jossnaz commented on #3915
soooo... I think I figured it out, what an unnecessary journey. Don't get me wrong, you guys usually do a great job, and I love laravel. Hope taylor is fine! read his twitter statement, am very worried.

So it seems the constructor is the place to put the event handling

so what I recommend:

On https://laravel.com/docs/5.5/eloquent#events
Below

[code]

add

`php artisan make:event UserSaved`

[c

[2018-04-26 10:03] kevin-ferradj opened #4253 "[5.6] Package "nunomaduro/collision" missing from upgrade guide"

[2018-04-26 11:32] nunomaduro commented on #4253
@kevin-ferradj Thank you for bringing that to our attention! I will work on a pull request to fix that this week. 👍

[2018-04-26 13:19] evanernest opened #4255 "Mention User primaryKey in Authentication docs."
It might be good to mention that the primaryKey property must be set correctly on the User model when using it to authenticate. Just started a new app and used the `make:auth` scaffolding, and then spent too-long trying to figure out why it wasn't working, but wasn't complaining about bad credentials. Turns out that it was because my users table used `user_id` instead of `id` as a primary key. It

[2018-04-28 18:35] Binternet opened #4262 "Missing 'weeklyOn' documentation"
On the `Task Scheduling` section there's no reference to `weeklyOn` method though it exists.

[2018-05-02 09:05] yoshiokatsuneo commented on #3219
I cannot see any license, guideline or usage of the logo on the https://github.com/laravel/art repository.
Can I use the logo in the blogs or books ?

[2018-05-06 00:44] laurencei commented on #4253
@nunomaduro - how did you go with the PR?

[2018-05-06 00:45] laurencei commented on #4216
I've looked through the code - and I cant work out why this is breaking either.

Do you have a link to the Laracasts post where this was also mentioned?

[2018-05-06 00:47] laurencei commented on #4222
This does not appear to be a documentation issue. If there is a specific issue with the docs please let me know. Otherwise I'll close this for now.

[2018-05-06 00:47] #4222 closed

[2018-05-06 00:47] laurencei commented on #4214
@tillkruss - your the Redis expert. Thoughts?

[2018-05-06 02:48] tillkruss commented on #4214
@toddstoker: Have you tried having the alias with PhpRedis installed?

I know the facade is working fine.

[2018-05-06 12:05] jonnott commented on #4216
It is breaking because it changed! So it’s a breaking change ;)

[2018-05-07 17:05] tillkruss commented on #4214
Yeah, seems to be working fine with the alias.

[2018-05-15 08:43] Oscarteg opened #4291 "Php version"

[2018-05-15 08:45] #4291 closed

[2018-05-17 11:33] PetrKravets opened #4294 "Methods sortKeys() and sortKeysByDesc() don't exist on Collection"
These methods sortKeys() and sortKeysByDesc() don't exist on Collection
https://laravel.com/docs/5.6/collections#method-sortkeys
https://laravel.com/docs/5.6/collections#method-sortkeysdesc

[2018-05-17 13:56] decadence commented on #4294
https://github.com/laravel/framework/blob/5.6/src/Illuminate/Support/Collection.php#L1508

Ensure you're using Laravel version above 5.6.6

[2018-05-18 14:43] leewillis77 opened #4295 "Not all collection methods are chainable"
The documentation on collections (https://laravel.com/docs/5.6/collections#available-methods) states the following:

However - this isn't at all accurate.

Specifically, there are some collection methods that return an item from the collection, not a collection, and hence can't be chained, e.g.
* first()
* firstWhere()
* last()
etc.

There are also a set of operations that return a value of some k

[2018-05-18 17:32] PetrKravets commented on #4294
Oh. Thanks. It helped.

[2018-05-18 17:32] #4294 closed

[2018-05-23 19:24] scofield-ua opened #4299 "[Suggestion] $request->validate -> ValidationException"
Is it possible to add information about `ValidationException` when using `$request->validate` method?
I think it's will be useful to know that we can catch an exception if redirection is not desirable.

Here: https://laravel.com/docs/5.6/validation

[2018-05-24 12:01] bertheyman opened #4302 "[Suggestion] extended info about Blade extends and sections"
A colleague of mine recently asked about some Blade section and I noticed I didn't fully understand how these are working as well.

I'm wondering about these in particular:

1. To end a section: `@show` VS `@endsection` VS `@stop` VS `@apply`
2. In [the example in the docs](https://laravel.com/docs/5.6/blade#template-inheritance), a sidebar is extended. What if one would like to remove or replace

[2018-05-29 15:39] ajuchacko91 opened #4308 "Just to confirm"
$users = DB::table('users')
            ->leftJoin('posts', 'users.id', '=', 'posts.user_id')
            ->get();

This is an excerpt from Left Join Clause and I wonder if it gives us users or posts. I think it should be posts.

**$posts** = DB::table('users')
            ->leftJoin('posts', 'users.id', '=', 'posts.user_id')
            ->get();

Pardon me if I am wrong.

[2018-05-29 20:40] AkenRoberts commented on #4117
Seems to be affecting most/all versions of the API docs, including 5.6. However, I built the API docs locally and everything shows up in the tree.

@taylorotwell Not sure if the API docs are built automatically, but maybe regenerating them on production will rectify this?

[2018-06-02 12:00] johnwheal opened #4311 "SQLite - Modifying and Dropping Columns"
The documentation contains the following warning in relation to database migrations (https://laravel.com/docs/5.6/migrations#creating-columns):

This warning is in the Dropping Columns section of the documentation. The warning also applies to Modifying Columns which is an earlier section. It took me several hours to debug this issue because I was not reading the Dropping Columns section - the issu

[2018-06-05 11:44] laurencei commented on #4311
Hi @johnwheal - feel free to submit a PR with a new location for the warning, and that way Taylor can consider it.

[2018-06-05 11:44] #4311 closed

[2018-06-05 11:44] laurencei commented on #4302
@bertheyman - please feel free to go ahead and submit the PR for this, and Taylor will be able to look at it and deicde.

[2018-06-05 11:44] #4302 closed

[2018-06-05 11:45] laurencei commented on #4253
ping @nunomaduro

[2018-06-05 12:03] bertheyman commented on #4302
Sure, will do!

[2018-06-10 02:22] oyuleo opened #4323 "Illuminate\Log\LogManager 创建driver的时候为什么没把config传给prepareHandler"
protected function createDailyDriver(array $config)
    {
        return new Monolog($this->parseChannel($config), [
            $this->prepareHandler(new RotatingFileHandler(
                $config['path'], $config['days'] ?? 7, $this->level($config),
                $config['bubble'] ?? true, $config['permission'] ?? null, $config['locking'] ?? false
            )),
        ]);
    }

[2018-06-10 02:42] overtrue commented on #4323
1. 请使用国际语言
2. 请正确并详细表达你的问题，而不是贴一段不晓得是啥的代码
3. 请正确使用 markdown 粘贴代码

[2018-06-11 08:11] Jamesking56 commented on #4178
Possibly related to #4117

[2018-06-12 04:05] d-pollard commented on #4299
At that point, wouldn't it make more sense to use [`Validator::make()`](https://laravel.com/docs/5.6/validation#manually-creating-validators)? `$request->validate()` is meant to redirect upon failed validation, in regards to AJAX requests, it will return JSON, otherwise continue execution.

[2018-06-23 02:12] #4262 closed

[2018-06-23 02:13] laurencei commented on #4323
Hi,

I'm closing this ticket as it is not clear what the problem is. Please feel free to submitting a new ticket with an exaplanation of the problem

[2018-06-23 02:13] #4323 closed

[2018-06-23 22:19] Zagym opened #4346 "TypeHint Querying Relationship Existence"
Hi,

When [doing query on relationship](https://laravel.com/docs/5.6/eloquent-relationships#querying-relationship-existence), why in the doc we don't type hint the Illuminate\Database\Eloquent\Builder in callback function ?

With the type hint we can have autocompletion directly, can be good!

Best Regars

[2018-07-05 09:50] girmate opened #4359 "There is no section in the official documentation [redirects]"
There is no section in the left side menu https://laravel.com/docs/5.6/redirects

[2018-07-05 09:52] Ellrion commented on #4359
#4358

[2018-07-05 13:55] eusonlito opened #4360 "Add Blade note about use complex code on directives"
Referrer to https://github.com/laravel/framework/issues/24734 and concrete to https://github.com/laravel/framework/issues/24734#issuecomment-402633393

I think that Blade docs should add a notice/warning about to avoid to use complex code on directives.

I could to send a PR but my english is not good enough to explain this problem :)

[2018-07-05 19:45] impeto opened #4362 "[5.6] Docs say Eloquent Observers can be created but no command in artisan"
[https://laravel.com/docs/5.6/eloquent#observers](https://laravel.com/docs/5.6/eloquent#observers)

That page says that we can do
[code]
However the command does not exist in my fresh 5.6 installation.

[2018-07-09 01:03] tontonsb opened #4365 "Is there a reason why dealing with events inside a model is not documented?"
If I want to delete file in case the upload model is deleted, I can simply do this:

    protected static function boot()
    {
        parent::boot();

        static::deleting(function($upload) {
            \Storage::delete($upload->path);
        });
    }

Is there any reason why this approach is not included in the docs?

The documented way either requires to create an event and listener fil

[2018-07-09 07:08] decadence commented on #4365
Because Taylor don't want people to use Events this way. Maybe someday this feature will be deleted.

[2018-07-09 09:03] tontonsb commented on #4365
That's what I suspected. Thanks for clarifying!

It's a pity because the documented way is quite clumsy and fragmented for very simple stuff.

[2018-07-11 15:58] ryanmortier opened #4372 "[5.3] Missing authorization changes in upgrade path documentation"
When upgrading my Laravel application today which was on version 5.2 I completely broke my authorization and it wasn't in the upgrade documentation.

Commit that changed the documentation: e2cbae5

The feature that was removed was specifically this:

---

#### Automatically Determining Policy Methods

Frequently, a policy's methods will correspond to the methods on a controller. For example, in th

[2018-07-13 07:52] inquiloper opened #4378 "The testing page is missing 70% of the content"
https://laravel.com/docs/5.5/testing
https://laravel.com/docs/5.6/testing

https://laravel.com/docs/5.1/testing --> working properly

[2018-07-13 07:59] michaeldyrynda commented on #4378
The single-page testing docs were split into their own section across multiple pages (Getting Started, HTTP Tests, Browser Tests, Database, Mocking).

[2018-07-13 08:17] inquiloper commented on #4378
@michaeldyrynda  Thanks, I wasn't aware of that for some reason.

[2018-07-13 08:17] #4378 closed

[2018-07-13 13:40] #4372 closed

[2018-07-14 15:13] hellvesper commented on #3072
I guess `--watch-poll` still doesn't work with vagrant/virtualbox (Homestead) + NFS

[2018-07-21 01:29] laurencei commented on #4295
Hi @leewillis77 - please feel free to submit a PR with your suggested change for Taylor to consider.

[2018-07-21 01:29] #4295 closed

[2018-07-21 06:14] decadence commented on #4365
Such PR was declined already some time ago

[2018-07-26 12:41] sebsel opened #4395 "Confusing example under Naming Resource Route Parameters"
On [this page](https://laravel.com/docs/5.6/controllers#resource-controllers) there is a note about naming resource route parameters, which states:

And comes up with the following example:

[code]

What confused me was the fact that, if you define a route like this: (also note the plural)
[code]
... it would generate a route like `user-roles/{user_role}`. However, I cannot:

[code]

I have to spe

[2018-07-27 02:33] dmeltzer opened #4396 "Artisan console: Progress bars symfony link outdated."
Hello,

in the latest (5.6) documentation for the artisan console section (https://laravel.com/docs/5.6/artisan) the progress bars section links to
https://symfony.com/doc/2.7/components/console/helpers/progressbar.html

Clicking on that link provides a warning that symfony 2.7 is way out of date, and checking laravels composer.json a much newer version of symfony is used.  I don't know if theres

[2018-07-27 12:00] alessandrofuda opened #4398 "BroadcastServiceProvider in upgrade section of doc"
Hi,
in `boot()` method of `BroadcastServiceProvider` class,
the code change

from (L 5.5):
`Broadcast::routes();
Broadcast::channel('App.User.*', function ($user, $userId) {
   return (int) $user->id === (int) $userId;
        });`

to (L 5.6):
`Broadcast::routes();
require base_path('routes/channels.php');`

it's right ? There is'nt in upgrade guide.
Good day

[2018-07-27 13:59] michaeldyrynda commented on #4398
The end result is ultimately the same; just where it’s stored that is different (unless the `*` no longer works in 5.6?)

It’s not a breaking change, so it doesn’t _have_ to be updated.

[2018-07-27 18:09] decadence commented on #4396
Fixed. You can close the issue.

[2018-07-27 18:16] #4396 closed

[2018-07-28 08:00] laurencei commented on #4398
Yeah, this is an optional change. The docs refer to the fact that you should consider comparing the `laravel/laravel` with your own app for possible changes.

[2018-07-28 08:00] #4398 closed

[2018-07-29 09:23] dbugit opened #4399 "Multiple middleware example is wrong..."
To define multiple middleware verifications, middleware method should receive an array.

Wrong:
[code]

Correct:
[code]

[2018-07-29 17:01] decadence commented on #4399
Laravel supports both options, doesn't it?

[2018-07-29 20:21] dbugit commented on #4399
According to the documentation it's not clear...
I tried as the example and it was only "reaching" the first middleware...
When using an array it works perfectly...
Can someone confirm?
Anyway it seem more clear and logic that it takes an array instead of an
unlimited number of parameters...
Don you agree?

On 29 Jul 2018 18:01, "Victor Isadov" <notifications@github.com> wrote:

Laravel supports b

[2018-07-30 02:46] lagbox commented on #4399
[code]

[2018-07-30 02:48] lagbox commented on #4395
Fixed by laravel/docs#4400

[2018-07-30 19:49] #4395 closed

[2018-08-01 17:10] sr2ds opened #4402 "Translation docs"
I would like to contribute with a translation of the Portuguese documentation.

Is there any path to this contribution already?

[2018-08-01 17:29] decadence commented on #4402
You can share your translation for your country community but officialy there is only english docs.

[2018-08-02 20:08] szepeviktor opened #4406 "Key hash tag for PECL Redis"
Hello!

Today we've found out the [key hash tag](https://github.com/laravel/docs/blob/5.6/queues.md#redis) is also necessary for queues with Redis driver implemented by PECL Redis extension (`'client' => 'phpredis',`) even for single (local) Redis server.

Could you rephrase that paragraph?

[2018-08-11 03:36] ahinkle commented on #4402
The official docs currently do not support other languages. Reason being- that they change often and will be out of date.

Duplicate of #3946
Please take a look at this repository: https://github.com/caouecs/Laravel-lang

[2018-08-11 03:50] ahinkle commented on #4255
Generally, the `primaryKey` is ignored, as it is usually set to `id`.  It's already mentioned in the [Eloquent](https://github.com/laravel/docs/blob/018ad3d2ed6988f138333345d7c782f72998c5e9/eloquent.md#primary-keys) section. No need to duplicate it once more.

[2018-08-15 04:05] #4402 closed

[2018-08-15 04:05] laurencei commented on #4402
As above - please feel free to create community versions of documentation as needed.

[2018-08-15 04:06] laurencei commented on #4406
Hi - are you able to explain a bit further? Can you give an example of what you think the paragraph should look like?

[2018-08-15 04:07] laurencei commented on #4399
Hi - what was the outcome of this?

[2018-08-15 08:21] stephan-v opened #4430 "Eloquent model refresh documentation"
I was wondering if there is a specific reason why this is not on the model eloquent page:

`$model->refresh()`

https://laravel.com/docs/5.6/eloquent

It seems this would be a really helpful thing to note, since when you have created a table with column defaults, these defaults will not be returned unless you have explicitly set them.

An example of this would be creating a record from request dat

[2018-08-15 10:14] dbugit commented on #4399
Hi,

In fact lagbox is right, but still, the documentation should be more clear.
For it only worked when using the array as input... still do not know why..
Its a simple add to the documentation and more clear

[2018-08-16 12:37] szepeviktor commented on #4406
Hi @laurencei !
The one thing I'm sure of is our queue workers couldn't get user details without setting `{default}` as queue name.
When switching to `predis` it worked again.
After some googling I've concluded the above situation.

As for rephrasing the docs I would say *Redis Cluster and single Redis using the phpredis extension*.
I hope it helps, I am not a native speaker.

[2018-08-16 19:18] danielghitoiu opened #4432 "loginUsername method from src/Illuminate/Foundation/Auth/AuthenticatesUsers.php was renamed in 5.3 to username"
In Laravel 5.3 method `loginUsername` was renamed to  `username` in https://github.com/laravel/framework/blob/5.2/src/Illuminate/Foundation/Auth/AuthenticatesUsers.php

If this method was overwritten in Laravel 5.2, the upgrade fails.

I think this should be mentioned in the upgrade guide.

[2018-08-16 23:07] michaeldyrynda commented on #4432
Submit a pull request, no need to discuss this change.

[2018-08-19 14:54] teo1978 opened #4437 "Missing custom middleware in iexample for "assigning middleware to routes""
https://laravel.com/docs/5.6/middleware#assigning-middleware-to-routes

It says:

But then the example shows the array that comes by default out of a freshly created Laravel application, with **nothing appended**.

[2018-08-22 14:49] tomlankhorst opened #4442 "Lock release example Redis queue rate limiting"
[queues.md#rate-limiting](https://github.com/laravel/docs/blob/5.6/queues.md#rate-limiting) suggests:

_If a lock can not be obtained, you should typically release the job back onto the queue so it can be retried later:_

First of all, things are typically 'put on' or 'pushed on' or 'enqueued on' a queue. Releasing in this context typically refers to unlocking.

Then, the example demonstrates:

[c

[2018-08-24 07:53] jamesggordon opened #4446 "[5.6] Cache blockFor() method no longer exists and block() now takes timeout parameter"
In the Atomic Locks section of the Cache documentation the block() method is shown as having no parameters and the blockFor() method is shown as being the method to call if you want to block for a certain period of time.

https://laravel.com/docs/5.6/cache#atomic-locks

However, when I tried the blockFor() method I got the following error:

    Call to undefined method Illuminate\Cache\RedisLock::

[2018-08-24 09:13] jonnott commented on #4399
Looks like the middleware() method only accepts one argument $middleware, so multiple middlewares would need to be passed in an array, yes.

[2018-08-25 16:52] teo1978 opened #4447 "5.7 upgrade docs incomplete (email verification)"
.

[2018-08-25 17:00] teo1978 commented on #4447
Hey, the issue was actually valid. I thought I had missed it because I found it here:
https://laravel.com/docs/5.7/verification#verification-database

but it is not mentioned in the upgrade guide.
https://laravel.com/docs/5.7/upgrade

Any chance my original description can be recovered? (do you guys have access to the edit history?)

[2018-08-25 17:26] teo1978 commented on #4447
It seems the docs fail to mention a number of other things about email verification.

- Apparently you need to add to  `app/Http/Kernel.php`:
[code]
- In https://github.com/laravel/laravel/blob/develop/app/Http/Kernel.php this has been changed:
[code]

The new file does not exist, so I guess it's created by the new version of  `make:auth`?? So what is one supposed to do about that when upgrading a

[2018-08-25 17:55] teo1978 commented on #4447
Yet another thing:
here https://laravel.com/docs/5.7/verification#verification-database it says

No example code is provided of how to do that, neither here nor in the Migration docs where this is not mentioned.

[2018-08-25 23:11] michaeldyrynda commented on #4447
5.7 isn’t released yet and as such, I’d suggest the docs are incomplete

[2018-08-26 17:43] teo1978 opened #4451 "Authorising actions using *gates* via Middleware"
At
https://laravel.com/docs/5.6/authorization

After reading the difference between gates and policies, I knew what I was interested in was gates, which are simpler, so I read the part about gates. There it explained how to use `Gate::allows()` and `Gate::denies()`, but I was eager to learn how to use **Middleware** to authorise actions with **gates** (if at all possible).

However, the only secti

[2018-08-29 13:29] arteniioleg opened #4456 "Proposal: Add "IDE in docker" instructions"
In all my projects I start IDE in docker via [x11docker](https://github.com/mviereck/x11docker).
It works only on Linux and there is [some progress for Windows](https://github.com/mviereck/x11docker/issues/70).

In short the workflow is like this:
1. Install `x11docker` (if this is a blocker, it can be automated)
2. Execute `PROJECT_DIR/ide-in-docker.sh ~/path/to/ide.sh`
    This script will build

[2018-08-29 20:19] michaelnguyen547 opened #4458 "missing blade directives"
Blade Template page for L5.6 (https://laravel.com/docs/5.6/blade) missing csrf and methodfield directives.

It is also nice to have "What's new" section on top to discuss new directives

[2018-08-29 22:25] lagbox commented on #4399
First what version is this issue even about?

The `middleware` method of `Illuminate\Routing\Route` can take a "variable" amount of arguments. Hence the `func_get_args()` call.

[code]

Those both work perfectly fine.

The docs for 5.6 in "Middleware" show this:

[code]

Which is correct and is "one" of the "two" ways to pass multiple middleware to that one method.

@jonnott Incorrect.  Do you see

[2018-08-31 07:01] tdondich opened #4462 "Slight typo in Laravel 5.7 release docs"
Under the section for Symfony Dump Server, it states:

Once the server has started, all calls to dump will **by** displayed in the dump-server console window instead of in your browser, allowing you to inspect the values without mangling your HTTP response output.

The word 'by' should 'be'

[2018-09-01 03:27] staudenmeir commented on #4462
Please close the issue.

[2018-09-01 05:02] #4462 closed

[2018-09-01 18:00] michaelnguyen547 opened #4466 "Query Logging missing from L5.1 to L5.7"
There is a Query Logging in L5.0 (https://laravel.com/docs/5.0/database#query-logging). From L5.1 and up, Query Logging section is not there anymore and there is no information about it.

[2018-09-03 05:36] michaeldyrynda commented on #2818
`make:auth` is intended as a scaffold operation, which wouldn't ordinarily happen as part of an upgrade between versions, imo

[2018-09-03 05:40] laurencei commented on #4456
Thanks. While useful, this is pretty specific and not currently a supported option. Currently supported options are Homestead and Valet.

[2018-09-03 05:40] #4456 closed

[2018-09-04 18:01] rbrisita commented on #2818
Ideally, yes.

Quick Guide for those interested:

Copy v5.3 files:

* `app/Providers/RouteServiceProvider.php`
* `app/Http/Kernel.php`

Copy v5.2 `routes.php` file to `web.php` file:

* `cp app/Http/routes.php routes/web.php`

Make sure `app/Http/Middleware/VerifyCsrfToken.php` contains endpoints that don't need web route protection by populating the `$except` member.

Test routes and feel free to

[2018-09-05 09:29] zendrax opened #4474 "5.7 upgrade docs forward slashes in namespace references"
Namespace references have forward instead of backward slashes in upgrade docs from 5.6 to 5.7.

PR created https://github.com/laravel/docs/pull/4473

[2018-09-05 10:57] ChrisSantiago82 opened #4476 "Doc: eloquent-mutators Defining An Accessor -> improvment"
In The Documentation of defining an Accessor there is also the example how to return a "return new, computed values from existing attributes". This is very useful but I also think most people will need to know then about the "eloquent-serialization#appending-values-to-json".
In the example how to create a computed value there should be a hint or a link how to appending the value because it's not o

[2018-09-05 13:43] zendrax commented on #4474
Merged by @taylorotwell

[2018-09-05 13:43] #4474 closed

[2018-09-06 08:39] axit-joost opened #4482 "Mention Passport dependency version bump requirements in L5.7 Upgrade Guide"
Background:

https://laracasts.com/discuss/channels/laravel/api-authentication-after-upgrade-to-57

When you upgrade a L5.6 to L5.7 and you used Passport for API Authentication, you will need to bump the version of Passport to 7.0, otherwise the API will break.

The upgrade guide mentions that one should check any third party packages for compatibility. But I really feel that some special care sho

[2018-09-10 10:33] axit-joost commented on #4482
Yo1L fixed this in 4473ea2d1e4dec64b12a5f2ea4ed27fdf98ec62e
Taylor modified the formatting in c545453e68e93582fdbb50e86bc624eb3fe09c66

Closing this issue.

[2018-09-10 10:33] #4482 closed

[2018-09-11 15:13] packytagliaferro opened #4503 "Email Verification Wrong"
I noticed in the Email Verification part the docs say:

[code]

but it should be

[code]

[2018-09-11 15:15] staudenmeir commented on #4503
The `MustVerifyEmail` trait is already used by the parent class `Authenticatable`.

[2018-09-11 15:17] packytagliaferro commented on #4503
I just noticed I dont need `use MustVerifyEmail` but using

`class User extends Authenticatable implements MustVerifyEmail`

causes an error of `App\User cannot implement Illuminate\Auth\MustVerifyEmail - it is not an interface`

[2018-09-11 15:29] packytagliaferro commented on #4503
I just got it last week but I guess it was before they fixed the User model

[2018-09-11 15:33] #4503 closed

[2018-09-14 14:27] lubimor opened #4514 "Upgrading To 5.7.0 From 5.6"
Hi there!

I'm currently trying to upgrade from 5.6 to 5.7 and I found out that configuration env. key for "queue" was changed from "QUEUE_DRIVER to QUEUE_CONNECTION"

It would be great to add this to the upgrade guide. I will be happy to open a pull request.

[2018-09-14 14:51] browner12 commented on #4514
go ahead an make the PR.

otherwise this change is covered in our "Miscellaneous" section.

[2018-09-14 17:33] EntrepreneurAJ opened #4517 "Mailgun API Endpoint Configuration"
Can we have the Docs updated to show where to set the Mailgun Region/Endpoint? I can see the code is added to the framework but the docs do not reflect which variable needs setting in the env file or in Mail.php or Services.php

[2018-09-14 18:07] #4517 closed

[2018-09-14 20:07] martenkoetsier opened #4518 "Note for regex validation: use delimiters"
I was bitten by an error where my `regex` validation rule did not specify pattern delimiters.

The PHP documentation describes that [the `preg_match` function](https://secure.php.net/manual/en/function.preg-match.php) accepts a `$pattern` parameter and it is only implied in the examples that is needs delimiters. One might therefore think that the delimiters are _part of the pattern_. However, the

[2018-09-14 23:40] hofmannsven opened #4520 "[5.7] Resource path helper with outdated reference to assets directory"
The example in the documentation of the resource path helper points to resources in the assets directory:

[code]

Since Laravel 5.7 this should probably point to:

[code]

[2018-09-15 14:27] #4520 closed

[2018-09-17 21:06] #4447 closed

[2018-09-20 16:50] hondnl opened #4536 "Doc : Query Builder -> chunk results"
It would be nice to put a warning or comment about using the chunk feature when updating/deleting records.

The amount of times I had to repair databases because a dev did not realize what it actually did is ridiculous.

Especially when importing data updates from temp tables for example..
Deleting can be even worse...

example of what I encountered often ;
[code]

Would be nice to see an addition

[2018-09-20 22:38] #4514 closed

[2018-09-21 11:18] paulcanning opened #4537 "Custom blade directive naming convention"
So I found this out after pulling my hair out for half an hour.

Nowhere on this page, https://laravel.com/docs/5.7/blade#extending-blade, does it tell you the naming convention for new blade directives.

Turns out you cannot use hyphens and possibly other characters, I didn't check.

Can you please fix this so anytime you are allowed to define anything custom, the naming conventions are explained

[2018-09-21 14:16] browner12 commented on #4537
relevant line for why hyphens do not work.

https://github.com/laravel/framework/blob/5.7/src/Illuminate/View/Compilers/BladeCompiler.php#L310

[2018-09-24 15:32] browner12 commented on #4537
fixed in #4540

this issue can be closed.

[2018-09-24 15:39] oliverpool opened #4548 "[Upgrade 5.6 -> 5.7] testing artisan command modifying the database"
I just fought for a couple of hours with the following scenario:
- we have a command which inserts some stuff in the database
- this command is tested using
[code]

It stopped working with the upgrade to 5.7.

We then figured out, that the `$this->artisan` method returns an object, on which we could check the exit code:
[code]

But the next test checking that the database was updated, then failed

[2018-09-25 14:48] jopapo opened #4550 "Upgrade guide: Hash:check should be medium impact"
Upgrade guide: Hash:check should be changed from low to medium ou high.

Bcrypt hashes starting with something diferent than $2y fails. Even if it can be verified correctly. So authentication will fail to a big audience.

The problem is with php function password_get_info from php 7.2.

Details here: https://laracasts.com/discuss/channels/laravel/laravel-socialite-login-this-password-does-not-use-

[2018-09-25 16:39] charpun opened #4552 "Update path in Valet documentation"
Path should be changed from `~/.valet` to `~/.config/valet` now that the directory has changed:

https://github.com/laravel/valet/commit/b23650c9d7124470abec7830d0beb51671c7d8f5
https://github.com/laravel/valet/commit/0fd37b0fed86389a23f97d43f3e2b03ccd9cbc3d

[2018-09-25 16:54] drbyte commented on #4552
👍

[2018-09-26 11:11] canvural commented on #4548
Console output mocking is enabled by default.

Better way to do what you are doing is like this I guess, `$this->withoutMockingConsoleOutput()->artisan(...)`

So, I think it should be noted that mocking the output is on by default. So if you are not interested in the output but rather in the exit code, you should call `withoutMockingConsoleOutput` first. And maybe this should be in the 5.7 upgrade

[2018-09-26 11:49] oliverpool commented on #4548
Just calling `->run()` on the artisan command is nicer I think (the problem is not the output mocking, but the delayed execution)

[2018-10-02 03:33] TivoSoho opened #4572 "[5.7] Route::fallback lacking information"
As I started using this the main article that comes up is this news: https://laravel-news.com/laravel-v5-5-5 The official documentation however only shows Closure as an example (https://laravel.com/docs/5.7/routing#fallback-routes), giving the impression that's the only one supported.

Furthermore, as I started using it based on the news article, it turned out I need to specifically say I am retur

[2018-10-02 08:08] driesvints commented on #4572
Heya. There's quite a bit undocumented things and hidden gems in Laravel. If you ever spot anything which you think should be in the docs feel free to send in a PR.

[2018-10-02 08:08] #4572 closed

[2018-10-02 09:57] TivoSoho commented on #4572
So this is the place to report issues with documentation and any reports you ignore if the person is not qualified enough to do a PR? What is the point of this then?

[2018-10-02 10:03] driesvints commented on #4572
@TivoSoho ow, happy to help you out with explaining how to do a PR:

1. Go to the https://github.com/laravel/docs page
2. Click on the page you want to edit
3. Click on the pencil on the right above to edit the document (the repo will be forked to your account)
4. Submit your changes with a commit (below your editor)
5. You'll now be prompted to submit a PR

Hope this helps. Not ignoring you btw,

[2018-10-02 15:21] driesvints commented on #4550
This is now fixed with https://github.com/laravel/framework/pull/25468 so I believe the priority can stay to low. Feel free to give extra thoughts about this if you think it should still be changed.

[2018-10-02 15:21] #4550 closed

[2018-10-02 17:32] driesvints commented on #4548
Yeah I can see how this behavioral change can be in the upgrade guide. Feel free to send in a PR.

[2018-10-02 17:32] #4548 closed

[2018-10-02 17:34] driesvints commented on #4537
Thanks guys 👍

[2018-10-02 17:34] #4537 closed

[2018-10-02 17:36] browner12 commented on #4537
in 5.8 we will also be throwing an exception now when declaring invalid directives.

https://github.com/laravel/framework/blob/master/src/Illuminate/View/Compilers/BladeCompiler.php#L478

[2018-10-02 17:41] driesvints commented on #4466
Feel free to send in a PR to add it again :)

[2018-10-02 17:41] #4466 closed

[2018-10-02 17:44] #4552 closed

[2018-10-02 23:42] michaelnguyen547 commented on #4466
@driesvints can you please tell me how to send in a PR with a step by step? I am new to this. Sorry if it is a trivial request.

[2018-10-04 09:29] driesvints commented on #4536
Thanks. Sent in a PR for this ^

[2018-10-04 09:29] #4536 closed

[2018-10-04 09:33] driesvints commented on #4518
Thanks. Sent in a PR for this ^

[2018-10-04 09:33] #4518 closed

[2018-10-04 09:44] driesvints commented on #4476
Thanks. Good suggestion. Sent in a PR for this ^

[2018-10-04 09:44] #4476 closed

[2018-10-04 10:01] driesvints commented on #4458
Thanks! Sent in a PR for this.

Don't think a what's new section will happen. We have the change log for that.

[2018-10-04 10:01] #4458 closed

[2018-10-04 10:56] driesvints commented on #4451
Please provide an example of this and preferable send it already in as a PR. Thanks!

[2018-10-04 10:56] #4451 closed

[2018-10-04 10:57] #4446 closed

[2018-10-04 10:57] driesvints commented on #4446
Should be fixed now ^

[2018-10-04 10:59] driesvints commented on #4442
Feel free to send in a PR for this.

[2018-10-04 10:59] #4442 closed

[2018-10-04 11:09] driesvints commented on #4437
Sent in a PR for this. I ended up removing the `for example` wording which should make it more clear.

[2018-10-04 11:09] #4437 closed

[2018-10-04 11:12] driesvints commented on #4432
5.3 isn't supported anymore so closing this. If you really want it in the upgrade guide of 5.3, send in a PR.

[2018-10-04 11:12] #4432 closed

[2018-10-04 11:33] driesvints commented on #4430
I sent in a PR for this. Thanks!

[2018-10-04 11:33] #4430 closed

[2018-10-04 11:36] driesvints commented on #4406
I've not used the phpredis extension myself but if you have and feel that the docs can be more clear about this feel free to send in a PR and update the parts where it needs to be more clear.

[2018-10-04 11:36] #4406 closed

[2018-10-04 11:40] driesvints commented on #4399
Docs are correct. If you think this isn't working properly please provide a PR with a failing test to laravel/framework.

[2018-10-04 11:40] #4399 closed

[2018-10-04 11:47] driesvints commented on #4360
I personally don't think we should add a warning for this. It should be pretty clear that directives aren't meant to do super complex and long things inside them. They're in the first place used to pass along compiled code to further manipulate it inside the directive.

If you still feel this should be made more clear feel free to send in a PR.

[2018-10-04 11:47] #4360 closed

[2018-10-04 11:51] szepeviktor commented on #4406
It is written in C: tiny and fast.

[2018-10-04 11:52] driesvints commented on #4255
Heya, thanks for sending this in. This has indeed already been documented at the link @ahinkle mentions. As you say, this doesn't only affects auth but everything related to your model.

[2018-10-04 11:52] #4255 closed

[2018-10-04 11:55] driesvints commented on #4253
Gonna close this but feel free to send in a PR.

[2018-10-04 11:55] #4253 closed

[2018-10-04 12:10] driesvints commented on #4246
I've sent in a PR for this but instead documented the fact that you can set these in the config file. Think that's a little more clear that way since the "from" one is also set this way.

Thanks for reporting 👍

[2018-10-04 12:10] #4246 closed

[2018-10-04 12:13] driesvints commented on #4216
Since 5.4 isn't supported anymore I'm gonna close this.

[2018-10-04 12:13] #4216 closed

[2018-10-04 12:14] driesvints commented on #4214
This is fixed in the meantime.

[2018-10-04 12:14] #4214 closed

[2018-10-04 12:33] driesvints commented on #4113
Thanks. Sent in a PR for this ^

[2018-10-04 12:33] #4113 closed

[2018-10-04 12:35] driesvints commented on #4112
If this broke and it's not in the upgrade guide, you may have stumbled upon a bug. Create a PR with a failing test to the https://github.com/laravel/framework so this can be fixed. Thanks!

[2018-10-04 12:35] #4112 closed

[2018-10-04 12:41] driesvints commented on #4466
@michaelnguyen547 heya, no problem!

Go to https://github.com/laravel/docs/blob/5.7/database.md and click on the pencil on the top right. This will fork the repo to your account and open the editor. Add the content which you wish to add in the wysiwyg and enter a commit message at the bottom of the screen. Then submit the pr to this repo under the 5.7 branch. Should be pretty straightforward. Let

[2018-10-04 13:01] driesvints commented on #3915
Made a PR for this with two smaller changes who should hopefully make this more clear for newer users ^

[2018-10-04 13:01] #3915 closed

[2018-10-04 13:16] teo1978 commented on #4451
I don't understand why you close it. The description of the issue is pretty clear, there's a basic feature that is completely undocumented.

That I don't provide a fix is not a reason for closing the issue.

[2018-10-04 13:52] driesvints commented on #4451
@teo1978 can you please provide a code snippet on how this should work?

[2018-10-04 16:39] uphlewis opened #4593 "PSR-7 Requests"
# The Issue
Following the instructions in the [Request documentation](https://laravel.com/docs/5.7/requests#psr7-requests) to require the 2 packages required for psr-7 requests i.e.:
[code]

... causes an 'undefined method' fatal error when type hinting for a psr-7 request as documented (`Psr\Http\Message\ServerRequestInterface`).

**TLDR; As of right now, following the documentation to the letter

[2018-10-04 17:17] uphlewis commented on #4593
PR: https://github.com/symfony/psr-http-message-bridge/pull/54

[2018-10-04 17:30] #4117 closed

[2018-10-04 17:53] driesvints commented on #4117
We merged some changes that should fix this.

[2018-10-06 16:51] teo1978 commented on #4451
Well, the issue I'm reporting is that the feature is not documented, so I can't tell you how it _should_ work.

My guess is that it works as intended.

[2018-10-08 11:42] jlsjonas commented on #3590
@laurencei and is completely ignoring the last comments 🤦‍♂️

[2018-10-08 11:52] laurencei commented on #3590
@jlsjonas - sorry, what do you mean? Taylor added some extra instructions there. Do you have a better option in the way it can be done?

[2018-10-08 11:56] jlsjonas commented on #3590
sounds like an issue with the ::auth() method (or discrepancy at least)

regardless... the documentation felt quite lacking; as in "how do I actually check"

an example as provided by @browner12 could help a lot https://github.com/laravel/docs/issues/3590#issuecomment-339531720

[2018-10-08 13:09] driesvints commented on #4593
I realize that the docs are currently pointing to a faulty release but this is more of an issue on the Symfony repo and changing the docs now temporarily isn't the way to go tbh. Judging from the issue linked this will be solved soon enough so I'm going to close this issue. People can still use this as a reference.

Thanks for reporting.

[2018-10-08 13:09] #4593 closed

[2018-10-12 06:27] ankitjain28may opened #4633 "Upgrade from laravel 5.6.* to 5.7.* wont add the laravel dev-dependencies"
As laravel-dump-server is added as a dev-dependency in laravel 5.7.* but on upgrading it from 5.6.* won't add this dependency as it is a part of `laravel/laravel` and not a part of `laravel/framework`, so it would be better to add this in the upgrade section of the docs so people can use this feature of laravel 5.7.*

[2018-10-12 10:06] driesvints commented on #4633
This isn't anything major or breaking when upgrading so that's why it's not added. In fresh Laravel installs it'll be included.

[2018-10-12 10:06] #4633 closed

[2018-10-12 10:36] ankitjain28may commented on #4633
@driesvints Yes, This isn't anything that is major, but it would be good to be added in the docs.

[2018-10-15 16:09] slashome opened #4641 "Stripe's billing database default column types"
Just wondering why do you not specify types for stripes columns here :
[code]

where it could be :
[code]

and "brand" type could a Many2One or a varchar(16)

[stripe doc](https://stripe.com/docs/api#retrieve_event)

[2018-10-15 16:16] VagishVela opened #4642 "Switching to Laravel 5.1 breaks on Configuration page."
If yous switch from 5.7 to 5.1 on https://laravel.com/docs/5.7/configuration it breaks as the actual URL is https://laravel.com/docs/5.1/#configuration for 5.1.

Maybe the link should be fixed or the configuration should be moved into it's own area.

[2018-10-15 18:49] prodingerd opened #4643 "Blank APIs page"
Since version `5.3` the Laravel documentation has a blank [APIs page](https://laravel.com/docs/master/apis) which is not linked anywhere.

[2018-10-15 22:37] #4643 closed

[2018-10-16 13:07] driesvints commented on #4641
You're correct. Feel free to send in a PR or otherwise I'll pick this up later. I wouldn't change change the value for `card_brand` as you don't always know how long these will be. You do know that `card_last_four` will always be 4 digits.

[2018-10-16 13:07] #4641 closed

[2018-10-17 08:46] slashome commented on #4641
done ;)

[2018-10-22 14:03] octoxan opened #4667 "Mail documentation make it seem like you can use vendor default html for html emails"
https://laravel.com/docs/5.7/mail#configuring-the-view

The documentation says you can run the following artisan command:

`php artisan vendor:publish --tag=laravel-mail`

Then it goes on to explain "This command will publish the Markdown mail components to the  resources/views/vendor/mail directory. The mail directory will contain a html and a  markdown directory, each containing their respective

[2018-10-22 15:22] driesvints commented on #4667
Heya, thanks. You're free to send in a PR with suggested changes on how to make this more clear.

[2018-10-22 15:22] #4667 closed

[2018-10-23 17:16] samoldenburg opened #4672 "Consider documentating how to create an eloquent model with no primary key?"
Perhaps this isn't a common issue, so I wanted to ask before opening a PR, or maybe what the best way to help others might be. I see that there have been questions asked and answered about this on places like Stack Overflow before.

I'm working with a database that I have absolutely no control over the schema on - it's a `sqlsrv` driver connection, and has a table with no primary key that I wanted

[2018-10-25 09:18] bluec commented on #335
5 years later and still no scrollyspy menu and even back to top link is gone now :(

[2018-10-25 09:47] driesvints commented on #4672
Heya, thanks for sending this in. I think it's best to just send a PR for this and see if Taylor will accept it or not.

[2018-10-25 09:47] #4672 closed

[2018-10-29 20:53] antonioribeiro opened #4696 "morphOne is undocumented"

[2018-10-31 09:37] MikeSheward commented on #3523
Thanks this helped! Sometimes it would return an array, and another an object!

[2018-11-01 02:27] armanatory opened #4709 "Provide a multilingual environment for the Doc"
Dear guys, I think it would be an obstacle for many people around the world that they don't have an access to an official and reliable documentation in their own language. Furthermore, there are lots of guys who will help the translation and keeping files up to date. What if you provide a multilingual one? What's your opinion?

[2018-11-01 08:55] barryvdh commented on #4536
The PR only talks about updating primary/foreign keys, but usually the problem is changing a value that is used to filter. Updated the section here: https://github.com/laravel/docs/pull/4711

[2018-11-01 08:57] azdanov commented on #4709
This has been discussed before:
* https://github.com/laravel/docs/issues/4402
* https://github.com/laravel/docs/issues/3946

[2018-11-01 09:59] driesvints commented on #4709
You're free to create, host and maintain community translated versions of the documentation. This is not something we're going to maintain ourselves, sorry.

[2018-11-01 09:59] #4709 closed

[2018-11-01 10:01] driesvints commented on #4536
Thanks @barryvdh!

[2018-11-11 14:48] unstoppablecarl opened #4742 "middleware"
I was recently answering some questions about middleware and realized a few things not clear in the docs that I am proposing be added.

1) middleware is processed in the following order
 - global middleware
 - group middleware
 - single route middleware
 - controller middleware

(the last 2 I'm only 90% sure of the order, correct me if I'm wrong)

2) In the `App\Http\Kernel.php` file the `$middlew

[2018-11-12 17:56] unstoppablecarl commented on #4742
I tinkered a little more and found some new discoveries. It looks like all middleware is put into 2 lists global and everything else. It appears that the global is never stored so it is just run in the order defined in `Kernel.php`. All other middleware is merged and sorted using  `$middlewarePriority`. It is still a little unclear that the middleware is run in 2 chunks.

I propose the comment be

[2018-11-13 08:02] jhm-ciberman opened #4745 "Relations inside factories feature undocumented (with closures)"
Hello. I have found this amazing undocumed feature,

When you create a factory, you can define a property of the model as a closure. The closure will be only executed in case you don't override the property when using the factory. Example:

[code]

Usage example:

[code]

Do you need help in documenting this?

[2018-11-13 08:36] jhm-ciberman commented on #4745
Nevermind. It was documented already. I didn't notice.

https://laravel.com/docs/5.7/database-testing#relationships

[2018-11-13 08:36] #4745 closed

[2018-11-13 15:39] redtie7 commented on #3345
thanks

[2018-11-13 19:56] Shifterovich opened #4746 "Upgrade instructions missing for 5.6.30"
https://laravel.com/docs/5.6/upgrade#upgrade-5.6.30

Composer instructions for the actual upgrade are missing here (similar to #2564). There should be instructions like for the [5.5-5.6.0 upgrade](https://laravel.com/docs/5.6/upgrade#upgrade-5.6.0).

I'd just add `composer update` there.

[2018-11-13 20:15] driesvints commented on #4746
Since 5.6 is no longer supported I'm going to close this.

[2018-11-13 20:15] #4746 closed

[2018-11-20 10:24] martinbean opened #4769 "authorizeResource() is not documented"
One of the most handy features of Laravel that I use that also doesn’t seem to be documented is `authorizeResource()` in controller constructors. It’s super-handy when using resource controllers and route–model binding and makes for nice, lean controllers.

It would be good if the [Authorization](https://laravel.com/docs/5.7/authorization) documentation could be updated to mention `authorizeResour

[2018-11-21 20:18] nsn0x01 commented on #4593
I have the same issue..

[2018-11-22 17:44] GinoPane opened #4771 "Why Docs Titles Are Not in Title Case"
It looks like every title word is capitalized whilst it feels better to use a valid title case for titles. Is it ok to start migrating titles to title case?

[2018-11-23 11:06] driesvints commented on #4771
We don't have plans on changing this.

[2018-11-23 11:06] #4771 closed

[2018-11-23 11:48] GinoPane commented on #4771
I'm afraid it does not resolve the question "why" 😄

[2018-11-23 15:20] markovic-nikola opened #4775 "Missing breaking change guide on the L5.7 upgrade page (decimal cast)"
Hi,
When trying to upgrade from `5.6` to `5.7` I experienced a breaking change.
In the models wherever I defined attributes as `decimal` error occurred.

So in the upgrade guide it should state that decimal type casts must have number of decimals defined.
Example:
[code]
I wasn't sure how would you like to write the description, so I'll just submit this issue.

[2018-11-23 15:42] driesvints commented on #4775
Decimal was only added in 5.7 later and wasn't available in 5.6: https://github.com/laravel/framework/pull/26173

[2018-11-23 15:42] #4775 closed

[2018-11-23 15:45] markovic-nikola commented on #4775
@driesvints
I know that, that's why it's breaking now.
Did you read my comment entirely? I said I upgraded from 5.6 to 5.7.

[2018-11-23 15:56] driesvints commented on #4775
I think you misunderstand the meaning of "breaking". Breaking would meant that existing functionality has changed in a way that requires changes by the user and that should indeed be in the upgrade guide. But new functionality which wasn't there before isn't breaking it just adds to the possibilities what you can do with the framework. We can't possible add every single new thing to the upgrade gu

[2018-11-23 16:19] markovic-nikola commented on #4775
Eloquent's attribute casting is already an existing functonality...
And in 5.7 decimal casting was changed (not a new functionality) in a way that will affect all instances ( when upgrading) where decimal is used for casting.
And as I know upgrade guide is there to avoid such situations, not to mention there are cases pointed out on the page that are less likely to happen than this one.

I honestl

[2018-11-23 17:05] driesvints commented on #4742
We've merged your PRs now.

[2018-11-23 17:05] #4742 closed

[2018-11-23 19:07] driesvints commented on #4696
Sent in a PR: https://github.com/laravel/docs/pull/4777

[2018-11-25 01:54] michaeldyrynda commented on #4775
@markovic-nikola I think the point @driesvints was trying to get across was that it's not a break as it _is_ new functionality.

If you compare the `castAttribute` method between [5.6](https://github.com/laravel/framework/blob/5.6/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L468) and [5.7](https://github.com/laravel/framework/blob/5.7/src/Illuminate/Database/Eloquent/Concerns/HasAt

[2018-11-25 07:34] ankurk91 opened #4782 "horizon requires failed_jobs database table"
Hi, @driesvints

Laravel Horizon will try to save failed jobs in a database table.
Read https://github.com/laravel/horizon/issues/88#issuecomment-321781755

If the table does not exists, it will throw exception and it will get reported to services like Bugsnag.

This should be mentioned in **horizon** docs that user need to publish the `failed_jobs` db table and migrate even though horizon uses re

[2018-11-26 11:10] driesvints commented on #4782
Sent in a PR: https://github.com/laravel/docs/pull/4784

[2018-11-26 13:46] #4782 closed

[2018-11-26 14:00] #4696 closed

[2018-11-26 14:10] #4769 closed

[2018-11-29 02:15] jhm-ciberman opened #4797 "Document TransformsRequest in the Middleware page"
I think the Illuminate\Foundation\Http\Middleware\TransformsRequest is an amazing undocumented feature.

It would be great if this feature is documented like "You can extend the TransformsRequest middleware and override transform($key, $value) method to create a custom middleware that preprocess your request".

[2018-11-29 11:15] driesvints commented on #4797
I don't really believe this should be in the docs really. It's a pretty specific middleware used by to trim strings and convert empty strings. If you still feel it should be added, feel free to send in a PR to see if it'll get accepted.

[2018-11-29 11:15] #4797 closed

[2018-11-30 19:51] ce-brex opened #4801 "Collection methods whenEmpty() and whenNotEmpty() are not documented"
Went to create macros for exactly this purpose only to find them in the Collections class already.

[2018-12-03 14:18] #4801 closed

[2018-12-03 14:35] driesvints commented on #4801
PR for this was merged

[2018-12-05 20:00] chamby opened #4813 "Scout: searchable() could use some clarification"
https://github.com/laravel/docs/blob/1fc008fa4560a3af9883d6e5c7f92d3506f530c0/scout.md#L215-L224

The above snippet of the Scout documentation could be clarified to explain a subtle but important difference when calling this method on different types of classes.

[code]

[2018-12-06 14:35] driesvints commented on #4813
I still don't understand how this could happen. All models should pass the `SearchableScope`. If this isn't the case I think this is a bug rather than expected behavior.

[2018-12-06 18:53] faustnord commented on #3072
Guys, I found the perfect solution to this problem in [this blog](https://blog.codecentric.de/en/2017/08/fix-webpack-watch-virtualbox/). At the end of the article, after manually solving the problem, the author cites a [link to the library](https://github.com/mhallin/vagrant-notify-forwarder) containing the Vagrant plugin, which does everything automatically.
Why would anyone not turn on this plug

[2018-12-10 15:54] driesvints commented on #4813
After some further research I've found out that this should indeed be clarified somehow. I'll try to send in a PR.

[2018-12-10 16:22] driesvints commented on #4813
Sent in a PR: https://github.com/laravel/docs/pull/4820

[2018-12-11 10:06] afraca commented on #2542
@laurencei  , perhaps reopen this, as it does fail with 'yesterday' for example. It's easy to see the problem:

https://github.com/laravel/framework/blob/v5.7.16/src/Illuminate/Validation/Concerns/ValidatesAttributes.php#L377-L383

This would be happening:
https://ideone.com/KD5YAN

in:
[code]
out:
[code]

[2018-12-11 13:05] jhm-ciberman opened #4822 "[Question/Suggestion] Why api 'token' driver (TokenGuard) is not documented?"
I cannot found the api 'token' driver (TokenGuard class) on the documentation or nothing about the 'api_token'. I think it should be documented since it provides a simple way to authenticate users without the need of complex infrastructure like passport (It is ideal for simple REST apis for example for a mobile app backend). I actually use this guard in a 2 years old project but now I can't find a

[2018-12-11 13:27] jhm-ciberman opened #4823 "[Suggestion] Move factories to it's own page for easier access."
I think it should be great to have all the content related to factories inside his own page.
Actually it's located in 'Database testing'. And that is not as useful for SEO as 'Factories'.

Also, the "Generating Factories" and "Resetting Database after each test" are on the same page and they have nothing in common.

I suggest the following refactor:

**Before:**

database_testing.md

    Introduct

[2018-12-11 13:37] driesvints commented on #4822
This is because we push for using Laravel Passport for API authentication: https://laravel.com/docs/5.7/passport

If you'd like to use something else you can use great articles like Jacob's article on the api_token.

[2018-12-11 13:37] #4822 closed

[2018-12-11 13:40] driesvints commented on #4823
Heya, thanks for suggesting this. I think it's fine as it is at the moment though. If we were to move everything to a new page all the hyperlinks to these sections would break as well.

[2018-12-11 13:40] #4823 closed

[2018-12-11 13:44] jhm-ciberman commented on #4822
Oh. I understand. I think is not worth migrating a 2 years old app to passport. But I will try to use it in the future. Thanks for the answer.

[2018-12-11 13:48] jhm-ciberman commented on #4823
Well. It's a shame if the reason is only for the hyperlinks, since the task is a simple global search and replace. I can help with that if it's a matter.

Anyway, thanks for the quick response.

[2018-12-11 14:24] #4813 closed

[2018-12-22 14:50] Shifterovich opened #4860 "5.6 -> 5.7 upgrade guide doesn't mention public/svg"
The `public/svg/` directory was added in 5.7.

![screenshot from 2018-12-22 15-36-00](https://user-images.githubusercontent.com/4354706/50375558-55745f00-05ff-11e9-890c-b02ae5912b1b.png)

Are laravel/laravel changes like these supposed to be mentioned in the upgrade guide?

[2018-12-22 21:20] driesvints commented on #4860
They could perhaps be added yeah. Feel free to send in a PR.

Here's the commit: https://github.com/laravel/laravel/commit/0d43633f9f13de2c392331cdef3f1d48b04781ed

[2018-12-22 21:41] driesvints commented on #4860
yeah, sounds good.

[2018-12-23 02:08] DarkGhostHunter opened #4863 "Suggestion: Blade callable class"
Since the the `directive()` method accepts a `callable` as second argument, it would be very handy to point out that rather than cloger up the `boot()` method of a Service Provider, call a callable class:

---

As you can see, we will chain the `format` method onto whatever expression is passed into the directive. So, in this example, the final PHP generated by this directive will be:

    <?php e

[2018-12-24 14:53] SachinAgarwal1337 opened #4864 "Missing `withoutMiddleware` documentation in Testing Section."

[2018-12-25 07:22] marol1210 opened #4865 "run laravel-echo error !"
laravel version:  5.3

i'm new laravel-echo ,  when use laravel broadcast  (redis + laravel-echo) ,   meet :
bootstrap.js?5e63:48 Uncaught TypeError: _laravelEcho2.default is not a constructor
    at eval (eval at <anonymous> (app.js:308), <anonymous>:48:17)
    at Object.<anonymous> (app.js:308)
    at __webpack_require__ (app.js:20)
    at eval (eval at <anonymous> (app.js:674), <anonymous>:9:1)

[2018-12-25 07:46] #4865 closed

[2018-12-26 07:03] Naveen1895 opened #4866 "Query builder paginate() method - Incorrect @return type"
In Query builder class, **paginate()** method returns **\Illuminate\Pagination\LengthAwarePaginator**  but the PHP documentation contains \Illuminate\Contracts\Pagination\LengthAwarePaginator.

[2018-12-27 16:41] ahinkle commented on #4864
Hey @SachinAgarwal1337!

This was recently mentioned in #4677:

[2018-12-27 17:32] SachinAgarwal1337 commented on #4864
@ahinkle Thanks for pointing it out. Personally I think it should be documented.

[2018-12-31 12:58] staudenmeir commented on #4866
This is correct. The `LengthAwarePaginator` class implements the `LengthAwarePaginator` interface/contract.

[2018-12-31 21:50] shino47 opened #4873 "Add ability to publish error views"
I wanted to customize a little the error pages. Found this PR:

https://github.com/laravel/framework/pull/26460/files

But it's not documented yet. I would like to help but my English is not very good to document.

[2019-01-02 04:01] adamkelso opened #4876 "5.5, 5.6, 5.7, master: cashier-braintree service-provider auto-discovery"
It looks like when auto-discovery was added for package service providers, the docs for using cashier-braintree weren't updated to remove the lines for adding its service provider to the `config/app.php` file. I've double checked the code, and auto-discovery has been enabled on the package since it hit 2.0 in July of 2017, in time for the 5.5 release.

I don't believe this hurts anything if left,

[2019-01-02 10:43] #4876 closed

[2019-01-02 12:09] driesvints commented on #4866
This isn't an issue for the docs repo. Please submit a PR if you feel that something is wrong.

[2019-01-02 12:09] #4866 closed

[2019-01-02 15:44] driesvints commented on #4863
I was writing the docs for this and got to this:

[code]

But it feels like I'm here explaining invokable classes more than an alternative Blade directive registration. I feel like it should be common PHP knowledge that you can use invokable classes here instead. So I don't think this adds that much value to the docs themselves.

You may try to send this in yourself if you like. Feel free to use t

[2019-01-02 15:44] #4863 closed

[2019-01-03 14:39] #4873 closed

[2019-01-12 07:39] garyross opened #4903 "Cookie documentation somewhat unclear"
[quote]
Generally, [these arguments have the same purpose and meaning](https://laravel.com/docs/5.7/requests#cookies) as the arguments that would be given to PHP's native setcookie method:

[code]
[/quote]

So is the 3rd argument, $minutes, minutes from now? What does 'generally' mean in this context? All the arguments except the 3rd or something else?

Thanks.

[2019-01-14 01:57] dansgithubuser opened #4905 "Homestead sites config could be less vague"
Here,
https://laravel.com/docs/5.7/homestead
the docs introduce the sites Homestead.yaml configuration:
[code]

I got hung up when I configured my own like so:
[code]

I'm coming at this with very little PHP/Laravel/Homestead context. I've worked with web frameworks, vagrant, and virtualbox before. But it wasn't clear to me that "Laravel" was supposed to be the name of a Laravel-created project. I

[2019-01-14 03:37] roberto-aguilar commented on #4905
The purpose of the public directory [is documented](https://laravel.com/docs/5.7/structure#the-public-directory) as:

So yeah, it is well know for laravel developers.

Your idea about allowing not to pass `/public` and sanitize the entry is not bad, but given how the homestead nginx script works, i'm afraid that the benefits doesn't outweigh the cons of more complicated readability and maintenance

[2019-01-14 03:42] dansgithubuser commented on #4905
Sure these are all ways to figure out what the meaning is here, but why has `Laravel` been chosen as the example name of a Laravel project?

The exact change I'm suggesting.
from
[code]
to
[code]

[2019-01-14 05:39] roberto-aguilar commented on #4905
Oh, sorry for my misunderstanding, @dansgithubuser.

I don't know the reason behind the naming, Taylor choose it since 65c262ecd6a53108caf78f986ecc9d69d74ed24f.

Given that your suggestion is pretty straightforward, i suggest you to give a try with directly with a PR to get more immediate feedback.

[2019-01-14 11:51] driesvints commented on #4905
Is this the global Homestead one? Because I see the default `Homestead.yaml` to be a little different: https://github.com/laravel/homestead/blob/master/resources/Homestead.yaml

@svpernova09 Is there a different default one for the global Homestead.yaml? Otherwise I think we could just update the docs with the current template?

[2019-01-14 13:59] svpernova09 commented on #4905
@driesvints Not sure I'm understanding the question. There is only that one instance of `Homestead.yaml` in the repo.

IMHO:

We should use this:

[code]

Since Homestead isn't Laravel specific.

[2019-01-14 16:55] dansgithubuser commented on #4905
@driesvints Looks like in the link you have "code" means "your project folder" whereas in the docs I'm referencing it means "the folder containing all your projects". I actually took "code" to mean either one of these, is that not the intent of giving it such a general name?

I'm liking @svpernova09's suggestion. I'll leave some settling time and then make a PR.

[2019-01-14 16:57] svpernova09 commented on #4905
@dansgithubuser,

FWIW we can even leave off the `/code/` part of the path making it `/home/vagrant/my-project/public`.

This may be confusing for some people so not a huge deal if we don't implement it this way.

[2019-01-14 17:01] dansgithubuser commented on #4905
I could just go ahead and explain the meaning of the different parts of the path, rather than figuring the optimal example to give. I'll put that in the PR, it'll be easier to make suggestions and choose to keep or omit.

[2019-01-15 15:08] #4905 closed

[2019-01-15 16:45] kennith commented on #4903
@garyross actually I think the paragraph above that already stated `$minutes` is

see https://github.com/laravel/docs/blob/5.7/requests.md#attaching-cookies-to-responses

[2019-01-15 18:57] driesvints commented on #4903
@kennith thanks for pointing that out.

[2019-01-15 18:57] #4903 closed

[2019-01-17 07:10] garyross commented on #4903
@kennith @driesvints
Thanks. Sorry about that. Not sure how I missed it!

[2019-01-20 09:09] andrewgorpenko opened #4919 "Missing information about Blade::include directive"
Hello. I've noticed that Laravel Docs is missing information about Blade::include directive. That is strange, because it was added in 5.6 and still not documented.

[2019-01-21 10:23] andrewgorpenko commented on #4919
It isn’t. I meant Blade::include method to create custom Blade components-includes without slots and @end prefix. One day Laravel News wrote about this new feature, but it was not documented. But the same day components were released and they are documented.

[2019-01-21 12:17] driesvints commented on #4919
Aha found it: https://laravel-news.com/blade-component-include-aliases

You're correct. I'll send something in for this.

[2019-01-21 15:37] #4919 closed

[2019-01-22 22:40] peterangelov opened #4923 "Overlapping items in the list of Available Assertions"
In the file `http-tests.md` part Available Assertions the list of assertions is unreadable due to long assertion names. Dividing the content to only 2 columns should fix this.

![image](https://user-images.githubusercontent.com/1159427/51570255-e492c200-1e9e-11e9-9b44-b2e0705a06e9.png)

[2019-01-23 09:42] r-pascal opened #4925 "Upgrade Guide - To 5.7.0 From 5.6, Cache: new data directory"
The section stating that a new data directory has been added to `storage/framework/cache` recommends to create the new directory and add a .gitignore file.

What is missing is the info that the `/config/cache.php` file should be updated as well.
Store type `file=>path` should be changed to `storage_path('framework/cache/data')`

If not updated, artisan command `cache:clear` will delete the newly c

[2019-01-23 11:48] driesvints commented on #4925
This has been like this since 5.4: https://github.com/laravel/laravel/blob/5.4/config/cache.php

[2019-01-23 11:48] #4925 closed

[2019-01-23 14:33] driesvints commented on #4923
PR was merged.

[2019-01-23 14:33] #4923 closed

[2019-01-27 08:48] marius321967 opened #4936 "[5.5] Basic auth exception not documented in upgrade guides"
`SessionGuard::failedBasicResponse()` used to generate responses for unauthenticated Basic auth requests.

Since Laravel 5.5, this method's signature has been changed ([20673](https://github.com/laravel/framework/pull/20673)) and it now throws an exception which the application is supposed to handle. For example, my middleware now has to catch the exception from `basic()` instead of checking if th

[2019-01-28 13:30] driesvints commented on #4936
5.5 is closed for bug fixes only. You may still send in a pr if you feel anything is missing.

[2019-01-28 13:30] #4936 closed

[2019-01-31 20:35] fitztrev opened #4947 "Missing documentation for queued closures"
This was added back to Laravel via laravel/framework#25777.

It's no longer necessary to have a job class:

[code]

You can now pass an anonymous function:

[code]

Here is the section from the 5.0 docs back when it was included: https://github.com/laravel/docs/blob/5.0/queues.md#queueing-closures

[2019-02-01 01:13] PatrickGalaxy opened #4948 "Outdated docs on View::share()"
The section **Sharing Data With All Views** of https://github.com/laravel/docs/blob/5.7/views.md seems to be outdated.  It appears the `View::share()` method doesn't existing and a `View::composer('*')` is required to accomplish this.

[2019-02-04 09:45] driesvints commented on #4947
Gonna close this as the pr was already sent in.

[2019-02-04 09:45] #4947 closed

[2019-02-06 14:04] ahinkle opened #4959 "Specifying custom translation for date relative messages"
Newly added [specifying custom translation for date relative messages](https://github.com/laravel/framework/pull/27341) is undocumented.

Reference: https://github.com/laravel/docs/pull/4957

[2019-02-12 08:50] raftalks opened #4968 "[Breaking]FormRequest validated do not return merged data to the request"
Upgrade from 5.6 to 5.7 noticed following breaking change not been documented.

When using FormRequest instance within a route, where if the request instance gets merged with additional data, the request validated method do not return the result of the merged data.

I was able to solve this problem by adding an extra method called on the request.
See the example below:

Laravel 5.6
-----------
$re

[2019-02-12 09:22] driesvints commented on #4968
The behavior was changed after the release of 5.7. I agree that this may be confusing but looking at your code it's actually never meant to work this way. `validated` returns the data that was validated during the resolving of the form request object. It doesn't actually performs the validation itself. It's best that you merge the data with the validated **after** you retrieved the validated data.

[2019-02-12 09:22] #4968 closed

[2019-02-13 13:41] markjaquith opened #4973 "Eliminate "of course", and "as you might expect""
These phrases can read as slightly condescending, and are massively overused in the docs.

There seems to be an implication of "aren't you silly for not knowing this thing that I just told you?" The purpose of docs is to educate, so if all of these things were simply a matter "of course", there wouldn't be the need to document them!

[2019-02-13 14:42] #4973 closed

[2019-02-13 18:00] nickroeker opened #4977 "Docs rendered with Fira Code on laravel.com may be confusing"
On laravel.com/docs/, the code sections can be rendered with Fira Code if the viewer has it installed.

[code]
Unfortunately this can display the ligatures for Fira Code, losing clarity on what the user should actually type. For example, see below for how `===` is rendered.

![screenshot_2019-02-13-09 37 59](https://user-images.githubusercontent.com/22895294/52732662-9a6ca000-2f75-11e9-9740-ab6e10

[2019-02-13 19:57] gpressutto5 commented on #4977
Well, I think we can assume that if the user has Fira Code installed they know what font ligatures are.

[2019-02-13 22:29] jimgwhit opened #4980 "PHP templates"
I don't use blade, and currently I use the following technique:

Controller code:
[code]

php template (layout)
[code]
So this same layout is re-usable depending on what I send from controller.

This part
[code]
Just custom methods to make it easier.

I basically use view:: make to replace section and pass as needed.

This all works, also see:
https://laracasts.com/discuss/channels/laravel/differe

[2019-02-13 22:34] browner12 commented on #4980
I don't think it's the responsibility of the Laravel Docs to explain generic PHP.  People could go about this many ways, so I think it's outside the scope of our docs.

[2019-02-13 22:41] jimgwhit commented on #4980
You are not explaining php, it would be examples like any framework provides, cake, yii2 has examples of layouts.  Currently laravel has view examples, but no real examples of layouts using php, laravel layouts are all explained with blade in mind.

I'm not saying use my code, rather it was just an example of how I came up with a solution.

[2019-02-14 01:29] jimgwhit commented on #4980
Discovered I could have a PHP View and still have a blade Master layout so all good.

[2019-02-14 01:29] #4980 closed

[2019-02-14 13:52] driesvints commented on #4977
I agree with @gpressutto5

[2019-02-14 13:52] #4977 closed

[2019-02-15 10:04] sachin-acto opened #4982 "Suggestion: Per Page Navigation on Right Side instead of Top"
As the title suggests, How about moving the Per Page Navigation which comes on Top of the page to Right Side and stick it. It will be easy to navigate to the content of the page.

[2019-02-20 05:21] jimgwhit opened #4997 "Length aware pagination"
In the docs, you have:

Quote
When manually creating a paginator instance, you should manually "slice" the array of results you pass to the paginator. If you're unsure how to do this, check out the array_slice PHP function.
unquote

Please change this comment to reflect:

* It's alright to slice small results
* Large results should be calculated with offset

Example only:
[code]
Of course several

[2019-02-21 10:28] driesvints commented on #4997
Please just send in a PR if you think this needs changing.

[2019-02-21 10:28] #4997 closed

[2019-02-22 14:15] carestad opened #5001 "Eloquent mutators says TEXT can be casted to array/json"
As the title says, in the [documentation](https://laravel.com/docs/5.7/eloquent-mutators#array-and-json-casting), it says:

While, I have not been successful making this work with a `TEXT` column, `LONGTEXT`, however, works. The `JSON` type in MariaDB is also an alias for `LONGTEXT` so I really think the documentation should reflect this somehow. Not sure if this is the case for MySQL as well thou

[2019-02-22 21:56] mikew1 opened #5004 "Idea for new {tip} (a kind of error to avoid really) for eloquent-mutators"
I recently fell into the error of using Eloquent accessor methods when I should really have been using a normal function. I was using it to return a value which was not derived in any way from the underlying active record's fields, and I've concluded I was overusing this feature and should have been using a normal function instead.  (discover exciting new possibility, so... over use it... you know

[2019-02-22 22:10] browner12 commented on #5004
I don't think this is necessarily true. I think it can be valid to create accessors for a wide range of things, especially if you want to `append` them to your model's JSON output.

[2019-02-25 09:24] driesvints commented on #5004
Honestly, please just send in a PR to see if it gets accepted or not by Taylor. It's really as much work as creating an issue.

[2019-02-25 09:24] #5004 closed

[2019-02-27 07:19] staudenmeir commented on #5001
How did the `TEXT` column not work?

The only difference between `TEXT` and `LONGTEXT` is the maximum length.

[2019-02-27 08:50] carestad commented on #5001
That is what I was thinking as well. Could it be due to MariaDB in 10.2 implementing JSON "support" by aliasing it to `LONGTEXT` and not `TEXT`? My container is running 10.3.11, so it is a quite recent version. Have not tried it in 10.2 or 10.1.

Not sure about the technicalities of why this is the case though. Not sure where in the code the logic for converting DB string data to JSON or PHP array

[2019-02-27 08:58] staudenmeir commented on #5001
What error did you get?

[2019-02-27 10:00] carestad commented on #5001
I never got any errors, but the data was just not cast when the data was stored in a `TEXT` column, but did after I changed it to `LONGTEXT`, using phpMyAdmin.

So in my model I had

[code]

And when testing in Tinker for instance:

[code]

Would just output

[code]

instead of the desired output of

[code]

Now, _of course_, I can not for the life of me reproduce this behaviour again today. Tryin

[2019-02-27 10:00] #5001 closed

[2019-02-27 11:26] drweissbrot opened #5017 "Collection::add() is undocumented"
The `add` method (https://github.com/laravel/framework/blob/bd867702793d489950b5fd9bfdb944a94ca6ab62/src/Illuminate/Support/Collection.php#L1899) that was added in Laravel 5.8 is not mentioned in the docs. I assume it should be mentioned in the docs for Collections and Eloquent Collections.

In my case, this actually ended up being a breaking change because I already had added an `add` method via

[2019-02-28 12:16] driesvints commented on #5017
Just send in a PR please.

[2019-02-28 12:16] #5017 closed

[2019-02-28 18:25] arcanedev-maroc opened #5027 "[5.8] Missing Collection::add() method in `upgrade` & `collection` sections"
This is a **Likelihood Of Impact: Very High** because i have a custom collection class that extends from `Illuminate\Support\Collection` in one of my packages and has a `add()` method in the child class ([Example](https://github.com/ARCANEDEV/SEO-Helper/blob/v1.6/src/Entities/MetaCollection.php#L34-L51)).

It's worth mentioned in the documentation especially in the **upgrade** section to avoid the

[2019-02-28 18:57] kevinfoley opened #5028 "Homestead setup directions a little unclear"
In the Homestead setup directions, there is a section "Installing Homestead", which opens like this:

It is unclear whether we are supposed to clone the repository into the Home directory of the _host_ machine, or _inside_ the Vagrant box (virtual machine)

[2019-02-28 19:40] browner12 commented on #5028
Homestead *builds* the virtual machine, so you should install it in the *host* machine.

Please submit a PR if you have a suggestion for clearing up the wording.

[2019-02-28 20:21] #5028 closed

[2020-03-21 10:20] rbajwa opened #5908 "How do I open these files ?"